In [2]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [3]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

In [4]:
headers =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"}

In [5]:
page = requests.get(URL)

In [6]:
pageHTML = BeautifulSoup(page.content, "html.parser")

In [7]:
pageHTML2 = BeautifulSoup(pageHTML.prettify(), "html.parser")

In [8]:
price_elements = pageHTML2.find_all('span', class_='a-price-whole')

In [9]:
price_elements

[<span class="a-price-whole">
                                   16
                                   <span class="a-price-decimal">
                                    .
                                   </span>
 </span>,
 <span class="a-price-whole">
                                   31
                                   <span class="a-price-decimal">
                                    .
                                   </span>
 </span>,
 <span class="a-price-whole">
                                   33
                                   <span class="a-price-decimal">
                                    .
                                   </span>
 </span>,
 <span class="a-price-whole">
                                   31
                                   <span class="a-price-decimal">
                                    .
                                   </span>
 </span>,
 <span class="a-price-whole">
                                   19
                                   <span class="a-price-decimal">
                                    .
                                   </span>
 </span>,
 <span class="a-price-whole">
                                   19
                                   <span class="a-price-decimal">
                                    .
                                   </span>
 </span>]

In [10]:
for index, price in enumerate(price_elements):
    print(f"{index + 1} | {price}")

1 | <span class="a-price-whole">
                                  16
                                  <span class="a-price-decimal">
                                   .
                                  </span>
</span>
2 | <span class="a-price-whole">
                                  31
                                  <span class="a-price-decimal">
                                   .
                                  </span>
</span>
3 | <span class="a-price-whole">
                                  33
                                  <span class="a-price-decimal">
                                   .
                                  </span>
</span>
4 | <span class="a-price-whole">
                                  31
                                  <span class="a-price-decimal">
                                   .
                                  </span>
</span>
5 | <span class="a-price-whole">
                                  19
                                  <span class="a-price-decimal">
                                   .
                                  </span>
</span>
6 | <span class="a-price-whole">
                                  19
                                  <span class="a-price-decimal">
                                   .
                                  </span>
</span>

In [11]:
prices2 = []

# Loop door de gevonden elementen en haal enkel de tekstwaarde op
for price in price_elements:
    price_text = price.text.strip()
    # Splits de tekst op de punt en neem alleen het eerste deel
    whole_number = price_text.split('.')[0]
    prices2.append(whole_number.strip())

# Print de prijzen
for p in prices2:
    print(p)

16
31
33
31
19
19

In [12]:
prices2

['16', '31', '33', '31', '19', '19']

In [16]:
pageHTML2.find_all('span', id= "productTitle")

[<span class="a-size-large product-title-word-break" id="productTitle">
                    Funny Got Data MIS Data Systems Business Analyst T-Shirt
                   </span>]

In [30]:
Titles = pageHTML2.find_all('span', id= "productTitle")


stripped_Titels = [title.text.strip() for title in Titles]

stripped_Titels

['Funny Got Data MIS Data Systems Business Analyst T-Shirt']

In [34]:
import csv

headers = ['Title', 'Price']
data = []

for title in stripped_Titels:
    for price in prices2:
        data.append([title,price])

with open('amazon_titles_and_prices.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(headers)  # Schrijf de koppen
    writer.writerows(data)    # Schrijf de rijen

print("CSV bestand is succesvol aangemaakt.")

CSV bestand is succesvol aangemaakt.

In [39]:
import datetime

today = datetime.date.today()

today

datetime.date(2024, 6, 22)

In [40]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Stichting GeoFort\Documents\0. Coding\8. Data-analist_Privat\Python\amazon_titles_and_prices.csv")

In [41]:
df

                                               Title  Price
0  Funny Got Data MIS Data Systems Business Analy...     16
1  Funny Got Data MIS Data Systems Business Analy...     31
2  Funny Got Data MIS Data Systems Business Analy...     33
3  Funny Got Data MIS Data Systems Business Analy...     31
4  Funny Got Data MIS Data Systems Business Analy...     19
5  Funny Got Data MIS Data Systems Business Analy...     19

In [ ]:
with open('amazon_titles_and_prices.csv', 'a+', newline='', encoding='utf-8') as file: #a+ is appending
    writer = csv.writer(file)
    writer.writerow(headers)  # Schrijf de koppen
    writer.writerows(data)    # Schrijf de rijen

In [42]:
def checkprice():
    from bs4 import BeautifulSoup
    import requests
    import time
    import datetime
    URL = r'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
    page = requests.get(URL)
    pageHTML = BeautifulSoup(page.content, "html.parser")
    pageHTML2 = BeautifulSoup(pageHTML.prettify(), "html.parser")
    price_elements = pageHTML2.find_all('span', class_='a-price-whole')
    today = datetime.date.today()

    #CREATE PRICES
    prices2 = []

    # Loop door de gevonden elementen en haal enkel de tekstwaarde op
    for price in price_elements:
        price_text = price.text.strip()
        # Splits de tekst op de punt en neem alleen het eerste deel
        whole_number = price_text.split('.')[0]
        prices2.append(whole_number.strip())

    #CREATE TITLES
    Titles = pageHTML2.find_all('span', id= "productTitle")
    stripped_Titels = [title.text.strip() for title in Titles]

    #append new Data
    import csv
    headers = ['Title', 'Price', 'Date']
    data = []

    for title in stripped_Titels:
        for price in prices2:
            data.append([title,price,today])

    with open('amazon_titles_and_prices.csv', 'w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(headers)  # Schrijf de koppen
        writer.writerows(data)    # Schrijf de rijen