Tesla just provided their quarterly sales for their major vehicles.

Determine which Tesla Model has made the most profit.

Include all columns with the "profit" column at the end.

```python

import pandas as pd;

tesla_models.head()

tesla_models['profit'] = (tesla_models['car_price'] - tesla_models['production_cost']) * tesla_models['cars_sold']


tesla_models = tesla_models.sort_values(by=["profit"], ascending=False)

tesla_models.head(1)

```

Herschel's Manufacturing Plant has hit some hard times with the economy and unfortunately they need to let some people go.

They figure the younger employees need their jobs more as they are growing families so they decide to let go of their 3 oldest employees. They have more experience and will be able to land on their feet easier (and they had to pay them more).

Write a query to identify the ids of the three oldest employees.

Order output from oldest to youngest.
# SQL METHOD 1
```sql
WITH CTE AS (
    SELECT employee_id, birth_date,F
           ROW_NUMBER() OVER (ORDER BY birth_date ASC) AS row_num
    FROM employees
)
SELECT employee_id
FROM CTE
WHERE row_num <= 3
ORDER BY birth_date ASC
```
# SQL METHOD 2
```sql
SELECT employee_id
FROM employees
ORDER BY birth_date ASC
LIMIT 3;
```

# SQL METHOD 3
```sql
SELECT employee_id
FROM employees
WHERE birth_date IN (
    SELECT birth_date
    FROM employees
    ORDER BY birth_date ASC
    LIMIT 3
)
ORDER BY birth_date ASC;
```

```python
import pandas as pd;

employees["birth_day"] = pd.to_datetime(employees["birth_date"])

sorted_employees = employees.sort_values(by='birth_day', ascending=True)

sorted_employees[["employee_id"]].head(3)
```

```SQL
SELECT tesla_model, car_price, cars_sold, production_cost,
  (car_price - production_cost) * cars_sold AS profit
FROM tesla_models
ORDER BY profit DESC
LIMIT 1;
```

I love chocolate and only want delicious baked goods that have chocolate in them!

Write a Query to return bakery items that contain the word "Chocolate".



```python
import pandas as pd;

bakery_items.head()

filter = bakery_items["product_name"].apply(lambda x: pd.Series(x).str.contains('Chocolate').any() )

Choc = bakery_items[filter]

Choc
```



```sql
SELECT *
FROM bakery_items
WHERE product_name like '%Chocolate%'
```

We need to identify which clients he needs to reach out to and provide that information to Dr. Obrien.

If a patient is over the age of 50, cholesterol level of 240 or over, and weight 200 or greater, then they are at high risk of having a heart attack.

Write a query to retrieve these patients. Include all columns in your output.

As Cholesterol level is the largest indicator, order the output by Cholesterol from Highest to Lowest so he can reach out to them first.

#method1

```python

import pandas as pd

patients.head()

patients_filtered = patients.loc[(patients["age"]> 50) & (patients["cholesterol"] >=240) & (patients["weight"] >=200)]

patients_filtered = patients_filtered.sort_values(by="cholesterol", ascending=False)

patients_filtered
```

#method2
```python
import pandas as pd

patients.head()

patients_queried = patients.query('cholesterol >=240 and weight >=200 and age > 50')

patients_queried = patients_queried.sort_values(by = "cholesterol", ascending=False)

patients_queried
```

```sql
SELECT * 
FROM patients
WHERE age > 50 AND weight >= 200 AND cholesterol >=240
ORDER BY cholesterol DESC
```

Yan is a sandwich enthusiast and is determined to try every combination of sandwich possible. He wants to start with every combination of bread and meats and then move on from there, but he wants to do it in a systematic way.

Below we have 2 tables, bread and meats

Output every possible combination of bread and meats to help Yan in his endeavors.

Order by the bread and then meat alphabetically. This is what Yan prefers.

```python

import pandas as pd;

bread_table.head()

cart_comb  = bread_table.merge(meat_table, how="cross")

comb = cart_comb[["bread_name", "meat_name"]].sort_values(by=["bread_name","meat_name"], ascending=True)

```

```sql
SELECT bread_table.bread_name, meat_table.meat_name

FROM bread_table

CROSS JOIN meat_table

ORDER BY bread_name ASC, meat_name ASC
```

Cars need to be inspected every year in order to pass inspection and be street legal. If a car has any critical issues it will fail inspection or if it has more than 3 minor issues it will also fail.

Write a query to identify all of the cars that passed inspection.

Output should include the owner name and vehicle name. Order by the owner name alphabetically.

```python
import pandas as pd;

inspections_filtered = inspections.query("critical_issues == 0 and minor_issues<=3")

inspections_filtered= inspections_filtered.sort_values(by="owner_name", ascending=True)

end_result = inspections_filtered[["owner_name", "vehicle"]]

```


```sql

SELECT owner_name, vehicle 

FROM inspections

WHERE minor_issues <= 3 AND critical_issues = 0

ORDER BY owner_name ASC
```

Write a query to determine the popularity of a post on LinkedIn

Popularity is defined by number of actions (likes, comments, shares, etc.) divided by the number impressions the post received * 100.

If the post receives a score higher than 1 it was very popular.

Return all the post IDs and their popularity where the score is 1 or greater.

Order popularity from highest to lowest.

```sql

SELECT post_id, ((actions/impressions)*100) AS popularity
FROM linkedin_posts
WHERE (actions / impressions) * 100 >= 1
ORDER BY popularity DESC

```

````python
linkedin_posts["popularity"] = (linkedin_posts["actions"]/linkedin_posts["impressions"])*100

linkedin_posts_filt = linkedin_posts.loc[linkedin_posts["popularity"] >= 1]

result = linkedin_posts_filt[["post_id", "popularity"]].sort_values(by="popularity", ascending=False)

```

Costco is known for their rotisserie chickens they sell, not just because they are delicious, but because they are a loss leader in this area.

This means they actually lose money in selling the chickens, but they are okay with this because they make up for that in other areas.

Using the sales table, calculate how much money they have lost on their rotisserie chickens this year. Round to the nearest whole number.

```python
total_loss = round(sales["lost_revenue_millions"].sum())
```

```sql
SELECT ROUND(sum(lost_revenue_millions))

FROM sales
```

If a customer is 55 or above they qualify for the senior citizen discount. Check which customers qualify.

Assume the current date 1/1/2023.

Return all of the Customer IDs who qualify for the senior citizen discount in ascending order.

```sql
SELECT customer_id AS discount_IDS
FROM customers
WHERE birth_date <= "1968-01-01"
ORDER BY customer_id ASC
```

```python
import pandas as pd;
customers["birth_date"] = pd.to_datetime(customers["birth_date"])

customers_filtered = customers.query("birth_date <= '1968-01-01'")

customers_filtered_sorted = customers_filtered.sort_values(by="customer_id", ascending=True)

result = customers_filtered_sorted[["customer_id"]]
```

\
If our company hits its yearly targets, every employee receives a salary increase depending on what level you are in the company.

Give each Employee who is a level 1 a 10% increase, level 2 a 15% increase, and level 3 there salary gets 3 times as much.

Include this new column in your output as "new_salary" along with your other columns.


```sql
SELECT employee_id, pay_level, salary,
CASE 
  WHEN pay_level = 1 THEN salary*1.1
  WHEN pay_level = 2 THEN salary*1.15
  WHEN pay_level = 3 THEN salary * 3
  ELSE salary
END AS new_salary
FROM employees
```

```python
import pandas as pd;

def increaseSal(row):
  if row["pay_level"] == 1:
    return row["salary"] * 1.1
  elif row["pay_level"] == 2:
    return row["salary"] * 1.15
  elif row["pay_level"] == 3:
    return row["salary"] * 3
  else:
    return row["salary"]

employees["new_salary"] = employees.apply(increaseSal, axis = 1) # important to need that When you use apply with axis=1, row is a pandas.Series where the index is the column names and the values are the respective data in that row. This allows the function increaseSal to access each column value using row["column_name"].

employees
```

Social Media Addiction can be a crippling disease affecting millions every year.

We need to identify people who may fall into that category.

Write a query to find the people who spent a higher than average amount of time on social media.

Provide just their first names alphabetically so we can reach out to them individually.

```python
import pandas as pd;


combined = user_time.merge(users, how='inner', on="user_id")

combined_filtered= combined.query("media_time_minutes>media_time_minutes.mean()")

result = combined_filtered[["first_name"]].sort_values(by="first_name", ascending=True)

```

```sql
SELECT first_name 
FROM users 
JOIN user_time 
ON  users.user_id = user_time.user_id 
WHERE user_time.media_time_minutes > 
  (SELECT AVG(user_time.media_time_minutes) FROM user_time)
ORDER BY users.first_name ASC
```

or

```sql
SELECT first_name
FROM users u 
WHERE u.user_id IN
  (SELECT ut.user_id 
  FROM user_time ut
  WHERE ut.media_time_minutes > (SELECT AVG(media_time_minutes) FROM user_time))
ORDER BY first_name ASC
```

Sarah's Bike Shop sells a lot of bikes and wants to know what the average sale price is of her bikes.

She sometimes gives away a bike for free for a charity event and if she does she leaves the price of the bike as blank, but marks it sold.

Write a query to show her the average sale price of bikes for only bikes that were sold, and not donated.

Round answer to 2 decimal places.


```python
inventoryfilter = inventory[inventory['bike_price'].notna()]
inventoryfilter2 = inventoryfilter[inventoryfilter["bike_sold"] == "Y"]

mean_price = inventoryfilter2["bike_price"].mean().round(2)
mean_price_df = pd.DataFrame({"average_bike_price": [mean_price]})
mean_price_df
```

```sql
SELECT ROUND(AVG(bike_price), 2)
FROM inventory
WHERE bike_price IS NOT NULL AND bike_sold = "Y"
```

Write a query to determine how many direct reports each Manager has.

Note: Managers will have "Manager" in their title.

Report the Manager ID, Manager Title, and the number of direct reports in your output.

```sql
SELECT 
    m.employee_id AS manager_id,  -- Selecteer de employee_id van de manager en noem het manager_id
    m.position AS manager_position,  -- Selecteer de positie van de manager en noem het manager_position
    COUNT(*) AS direct_reports  -- Tellen het aantal directe ondergeschikten en noem het direct_reports
FROM 
    direct_reports e  -- De tabel direct_reports wordt aangeduid met alias e voor employees
JOIN 
    direct_reports m  -- Voeg dezelfde tabel opnieuw toe met alias m voor managers
ON 
    e.managers_id = m.employee_id  -- Maak de koppeling: employee's manager_id moet gelijk zijn aan manager's employee_id
WHERE 
    m.position LIKE '%Manager%'  -- Dit sluit CTO uit, belangrijk om m te gebruiken omdat dit de managers zijn gebaseerd op e.manager_id = m.employee_id
GROUP BY 
    m.employee_id,  -- Groepeer op manager_id
    m.position;  -- Groepeer op manager_position
```

```python
import pandas as pd;

combined = direct_reports.merge(direct_reports, left_on = 'managers_id', right_on = 'employee_id', suffixes=('_emp', '_mgr'))

combined_filtered = combined[combined["position_mgr"].str.contains("Manager")]

combined_filtered_2 = combined_filtered[["employee_id_mgr", "position_mgr"]]

result = combined_filtered_2.groupby(['employee_id_mgr', 'position_mgr']).size().reset_index(name='direct_reports')
"""
size counts the size of the groups and the result of size is a Series with emp id en postion mgr as index and de count as values. Wiht reset index the values of the count are put into direct reports column en the index become columns, the type becomes a df instead of serie
"""

#below a print of the grouped series after size(series with emp en pos as index)
employee_id_mgr  position_mgr             
1001             Analytics Manager          6
1007             Data Engineering Manager   4
1017             Data Science Manager       5
dtype: int64

#after reset index (df)
mployee_id_mgr	position_mgr	direct_reports
1001	Analytics Manager	        6
1007	Data Engineering Manager	4
1017	Data Science Manager	    5
```

In the United States, fast food is the cornerstone of it's very society. Without it, it would cease to exist.

But which region spends the most money on fast food?

Write a query to determine which region spends the most amount of money on fast food.

```python
import pandas as pd;

region_grouped = food_regions.groupby(["region"]).sum(numeric_only=True).sort_values(by="fast_food_millions", ascending=False)

region_sorted_df = region_grouped.reset_index()

result = region_sorted_df[["region"]].head(1)
```

```sql
SELECT region 
FROM
  (SELECT region, SUM(fast_food_millions)
  FROM food_regions
  GROUP BY region 
  ORDER BY SUM(fast_food_millions) DESC
  LIMIT 1) AS top_region
```

Kroger's is a very popular grocery chain in the US. They offer a membership card in exchange for a discount on select items. Customers can still shop at Krogers without the card.

Write a query to find the percentage of customers who shop at Kroger's who also have a Kroger's membership card. Round to 2 decimal 

```sql
SELECT ROUND((count(kroger_id)/(SELECT COUNT(*) FROM customers))*100, 2) AS "Perc_Members"
FROM customers
WHERE has_member_card = "Y"
```

```python
import pandas as pd;

customers_membercard = customers[customers["has_member_card"] == "Y"]

customers_perc = round((customers_membercard.shape[0]/customers.shape[0])*100,2)

customers_perc_df = pd.DataFrame({"Perc_Customers" : [customers_perc]}) #door  er een lijst van e maken maak je een index
```

Tech companies have been laying off employees after a large surge of hires in the past few years.

Write a query to determine the percentage of employees that were laid off from each company.

Output should include the company and the percentage (to 2 decimal places) of laid off employees.

Order by company name alphabetically.

```python
import pandas as pd;

import pandas as pd;

tech_layoffs["perc_laid_off"] = round(((tech_layoffs["employees_fired"]/tech_layoffs["company_size"])*100), 2)

tech_layoffs_sorted = tech_layoffs.sort_values(by="company")

result = tech_layoffs_sorted[["company","perc_laid_off"]]
```

```sql
SELECT company, round(((employees_fired/company_size)*100),2) AS "perc_laid_off"
FROM tech_layoffs
ORDER BY company ASC
```

Data was input incorrectly into the database. The ID was combined with the First Name.

Write a query to separate the ID and First Name into two separate columns.

Each ID is 5 characters long.

```sql

SELECT substring(id, 1,5) as "ID", substring(id, 6) as "First_name"
FROM bad_data

```

Often when you're working with customer information you'll want to sell that data to a third party. Sometimes it is illegal to give away sensitive information such as a full name.

Here you are given a table that contains a customer ID and their full name.

Return the customer ID with only the first name of each customer.

```sql
SELECT customer_id,  SUBSTRING_INDEX(full_name, ' ', 1) as "first_name"
FROM customers
```

```python
customers["first_name"] = customers["full_name"].str.split(" ").str[0]

result = customers[["customer_id", "first_name"]]
```

Write a query to identify products that have undergone shrink-flation over the last year. Shrink-flation is defined as a reduction in product size while maintaining or increasing the price.

Include a flag for Shrinkflation. This should be a boolean value (True or False) indicating whether the product has undergone shrink-flation

The output should have the columns Product_Name, Size_Change_Percentage, Price_Change_Percentage, and Shrinkflation_Flag.

Round percentages to the nearest whole number and order the output on the product names alphabetically.

```python
import pandas as pd;

products["Size_Change_Percentage"] = round(((products['new_size'] - products['original_size']) / products['original_size']) * 100, 0)
products["Price_Change_Percentage"] = round(((products['new_price'] - products['original_price']) / products['original_price']) * 100, 0)

products["Shrinkflation_Flag"] = products.apply(lambda x: "True" if (x['new_size'] < x['original_size']) & (x['new_price'] >= x['original_price']) else "False", axis=1)

products

result = products[["product_name", "Size_Change_Percentage", "Price_Change_Percentage","Shrinkflation_Flag"]].sort_values(by="product_name", ascending=True)

result.rename(columns={"product_name": "Product_Name"})

```

method 1
```sql
SELECT product_name, 
       ROUND(((new_size - original_size) / original_size) * 100, 0) AS "Size_Change_Percentage", 
       ROUND(((new_price - original_price) / original_price) * 100, 0) AS "Price_Change_Percentage", 
       CASE 
           WHEN ROUND(((new_size - original_size) / original_size) * 100, 0) < 0 
                AND ROUND(((new_price - original_price) / original_price) * 100, 0) >= 0 
           THEN "True"
           ELSE "False"
       END AS "Shrinkflation_Flag"
FROM products
HAVING Shrinkflation_Flag = "True" -- Having happens after the select is performed
ORDER BY product_name ASC;
```

method 2

```sql
SELECT product_name,
       Size_Change_Percentage,
       Price_Change_Percentage,
       Shrinkflation_Flag
FROM (
    SELECT product_name,
           ROUND(((new_size - original_size) / original_size) * 100, 0) AS Size_Change_Percentage,
           ROUND(((new_price - original_price) / original_price) * 100, 0) AS Price_Change_Percentage,
           CASE 
               WHEN ROUND(((new_size - original_size) / original_size) * 100, 0) < 0 
                    AND ROUND(((new_price - original_price) / original_price) * 100, 0) >= 0 
               THEN TRUE 
               ELSE FALSE 
           END AS Shrinkflation_Flag
    FROM products
) AS subquery
WHERE Shrinkflation_Flag = TRUE
ORDER BY product_name ASC;
--Subquery: Door berekeningen in een subquery te doen, kun je de resultaten van deze subquery behandelen als een normale tabel in de buitenste query, waardoor je de WHERE-clausule kunt gebruiken om te filteren op aliassen.
```

Write a query to find all dates with higher temperatures compared to the previous dates (yesterday).

Order dates in ascending order.

method 1

```sql
WITH CTE AS (
  SELECT `Date`, temperature,
  LAG(temperature) OVER(ORDER BY `DATE` ASC) as "Prev_temp"
  FROM temperatures
)

SELECT `Date`
FROM CTE
WHERE temperature > Prev_temp
ORDER BY `Date` ASC;
```
method 2
```sql
WITH CTE AS (
  SELECT `Date`, temperature, ROW_NUMBER() OVER (ORDER BY `Date` ASC) AS "Row_number"
  FROM temperatures
)

SELECT T1.`Date`
FROM  CTE T1
JOIN CTE T2 ON T1.Row_number = T2.Row_number + 1
WHERE T1.temperature
ORDER BY 'Date' ASCemperature > T2.t
```

```python
temperatures["prevTemperature"] = temperatures["temperature"].shift(1)

new_temps = temperatures.query("temperature > prevTemperature")

new_temps_date_ordered = new_temps[["date"]].sort_values(by="date")
```

Marcie's Bakery is having a contest at her store. Whichever dessert sells more each day will be on discount tomorrow. She needs to identify which dessert is selling more.

Write a query to report the difference between the number of Cakes and Pies sold each day.

Output should include the date sold, the difference between cakes and pies, and which one sold more (cake or pie). The difference should be a positive number.

Return the result table ordered by Date_Sold.

Columns in output should be date_sold, difference, and sold_more.

```python
grouped = desserts.groupby(['date_sold', 'product']).sum().reset_index()

pivoted = grouped.pivot(index='date_sold', columns='product', values='amount_sold').fillna(0)

pivoted["difference"] = abs(pivoted["Cake"] - pivoted["Pie"])

pivoted['sold_more'] = pivoted.apply(lambda row: 'Cake' if row['Cake'] > row['Pie'] else 'Pie', axis=1)

result = pivoted.reset_index()[['date_sold', 'difference', 'sold_more']].sort_values(by="date_sold")
```

```sql
SELECT 
    date_sold,
    ABS(SUM(CASE WHEN product = 'cake' THEN amount_sold ELSE 0 END) - SUM(CASE WHEN product = 'pie' THEN amount_sold ELSE 0 END)) AS difference,
    CASE 
        WHEN SUM(CASE WHEN product = 'cake' THEN amount_sold ELSE 0 END) > SUM(CASE WHEN product = 'pie' THEN amount_sold ELSE 0 END) THEN 'Cake'
        ELSE 'Pie'
    END AS sold_more
FROM 
    desserts
GROUP BY 
    date_sold
ORDER BY 
  date_sold
```

At Kelly's Ice Cream Shop, Kelly gives a 33% discount on each customer's 3rd purchase.

Write a query to select the 3rd transaction for each customer that received that discount. Output the customer id, transaction id, amount, and the amount after the discount as "discounted_amount".

Order output on customer ID in ascending order.

Note: Transaction IDs occur sequentially. The lowest transaction ID is the earliest ID.

```sql
WITH Rank_Purchases AS
  (
  SELECT customer_id, transaction_id, amount, 
  ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY transaction_id ASC) AS Transactional_Number
FROM purchases
  ) 

SELECT customer_id, transaction_id, amount,  
 CASE WHEN Transactional_Number = 3 THEN amount-(amount*0.33) ELSE 0 END AS discounted_amount
FROM Rank_Purchases
WHERE Transactional_Number = 3
ORDER BY customer_id ASC
```
#method 1

```python
purchases=purchases.sort_values(by="customer_id")

purchases=purchases.sort_values(by="transaction_id")

purchases["Transactional_Number"] = purchases.groupby("customer_id").cumcount() + 1

purchases["discounted_amount"] = purchases.apply(lambda row: row["amount"] - (row["amount"]*0.33) if row["Transactional_Number"] == 3 else 0, axis=1)

result = purchases[purchases["Transactional_Number"]==3].sort_values(by="customer_id", ascending=True)

result = result[["customer_id","transaction_id","amount","discounted_amount"]]
```
#method 2

```python

# Sorteren van dataframe eerst op customer_id en vervolgens op transaction_id
purchases = purchases.sort_values(by=['customer_id', 'transaction_id'])

# Toevoegen van een transactionele nummer kolom
purchases['Transactional_Number'] = purchases.groupby('customer_id').cumcount() + 1

# Filteren op Transactional_Number gelijk aan 3 en de korting toepassen
purchases['discounted_amount'] = purchases['amount'].where(purchases['Transactional_Number'] == 3, 0) * 0.67

# Selecteren van de gewenste kolommen en sorteren op customer_id
result = purchases[purchases['Transactional_Number'] == 3][['customer_id', 'transaction_id', 'amount', 'discounted_amount']]

import ace_tools as tools; tools.display_dataframe_to_user(name="Result", dataframe=result)
```

Amidst the global chocolate crisis, we must urgently identify the countries with GDPs over 10 Trillion to ensure they can still afford to satisfy their sweet cravings.

Please identify all countries with an annual GDP over 10 Trillion per year.

Provide only the country name in your output in alphabetical order.

```python

import pandas as pd;

big_gdp_filter  = big_gdp[big_gdp['gdp_per_million'] > 10000000]

result = big_gdp_filter[['country']].sort_values(by='country', ascending=True)
```

```sql
SELECT country
FROM
(SELECT country, gdp_per_million
FROM big_gdp
WHERE gdp_per_million > 10000000
) AS SQ
ORDER BY COUNTRY ASC

```

Join these two tables together to return the first name, last name, and state for each person.

If there is no matching employee in the location table the state should be Null for that person.

Order the output alphabetically on their first names.

```python

import pandas as pd;

combined = employee_name.merge(employee_location, how='left', left_on="person_id", right_on ="employee_id")

combined

result = combined[['first_name', 'last_name', 'state']].sort_values(by='first_name')

```

```sql
SELECT en.first_name, en.last_name, el.state 
FROM employee_name en
LEFT OUTER JOIN employee_location el
  ON person_id = employee_id
ORDER BY en.first_name ASC
```

Walmart's website tracks how many items a customer puts into their shopping cart and how many they end up purchasing.

Determine the percentage of items bought vs items put in the cart for each customer.

Output should have Customer ID and the percentage (rounded to 2 decimal places).

Order on Customer ID from highest to lowest.

```python

import pandas as pd;

shopping_cart['perc_purchased'] = round((shopping_cart['purchased_items']/shopping_cart['carted_items']*100),2)

result = shopping_cart[['customer_id','perc_purchased']].sort_values(by='customer_id', ascending=False)
```

```sql
SELECT customer_id, round((purchased_items/carted_items)*100,2)
FROM shopping_cart
ORDER BY customer_id DESC
```

Mr. Hillsborough gives out letters of recommendation for any student who can obtain a "B" or higher in his class.

Write a query to retrieve the first and last name of the students who scored a "B" or better on their final exam.

Order your output by the first and last name in ascending order. This is just how Mr. Hillsborough prefers it.

```python

import pandas as pd;

import pandas as pd;

students_filtered = students['grade'] <= 'B'

students_new = students[students_filtered]

result = students_new[['first_name','last_name']].sort_values(by=['first_name','last_name'], ascending=True).rename(columns={'revenue_millions': 'avg_rev'})
```

```sql
SELECT first_name, last_name
FROM(
SELECT first_name, last_name, grade 
FROM students
WHERE grade <= 'B'
) SQ
ORDER BY first_name, last_name ASC
```

Everyone at Analyst Builder is supposed to receive a bonus at the end of the year.

Unfortunately some people didn't receive their bonus as was promised.

Write a query to determine the employees who did not receive their bonus so we can notify accounting.

Return their id and name in the output. Order the id from lowest to highest.

```sql
SELECT employee_id, name 
FROM employee
WHERE employee_id NOT IN 
  (SELECT emp_id FROM bonus)
ORDER BY employee_id ASC;
```

Write an SQL query to identify the customer who had the largest number of orders.

Return the Customer_ID and number of orders, but if 2 customers had the same amount of orders, return them both.

```SQL
SELECT customer_id, number_of_orders
FROM orders
WHERE number_of_orders = (SELECT MAX(number_of_orders) FROM orders)
```

Identify all of the countries that have populations between 50 million and 100 million.

Provide the country and population in the output from smallest to largest population.

```python
import pandas as pd;

country = country.query('population > 50000000 and population < 100000000')
result = country[['country', 'population']].sort_values(by='population')
```

```sql
SELECT country, population
FROM country
WHERE population BETWEEN 50000000 AND 100000000
ORDER BY population ASC
```

We want to take a look at each customers purchases and give them their own row number.

Break the rows out by the customer and give each row a number based off the amount spent starting from the highest to the lowest.

Column Order
```sql
SELECT customer_id, amount, 
  ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY amount DESC) AS rn
FROM purchases
```

Each artist was given a rating by 3 separate judges.

Write a query to combine those scores and rank the artists from highest to lowest. If there is a tie the next ranking after it should be the next number sequentially, meaning there will be a gap in the next rank.

Output should include the artist, their total score, and rank.

Order your output from smallest to largest rank. If there is a tie order on the artist id as well from smallest to largest.

```sql
SELECT * 
FROM
  (SELECT *, RANK() OVER(ORDER BY total_score DESC) 'rank'
  FROM
    (SELECT artist_id, SUM(score) AS total_score
    FROM rankings
    GROUP BY artist_id) AS SQ) AS SQ_2
ORDER BY `rank` ASC, artist_id ASC
```

it has an area of at least three million (i.e., 3000000 km2), or

it has a population of at least one hundred million (i.e., 100,000,000).

Write a query to report the name, population, and area of the big countries.

Return the result table by country alphabetically.

```SQL
SELECT * 
FROM
  (SELECT *, RANK() OVER(ORDER BY total_score DESC) 'rank'
  FROM
    (SELECT artist_id, SUM(score) AS total_score
    FROM rankings
    GROUP BY artist_id) AS SQ) AS SQ_2
ORDER BY `rank` ASC, artist_id ASC
```

```python
SELECT * 
# access datasets as pandas dataframes
import pandas as pd;

filtered = countries.query('population >= 100000000 or square_kilometers >= 3000000')

result = filtered[['country', 'population', 'square_kilometers']].sort_values(by='country')
```

Write a query to report the IDs of low quality YouTube videos.

A video is considered low quality if the like percentage of the video (number of likes divided by the total number of votes) is less than 55%.

Return the result table ordered by ID in ascending order.

```python
import pandas as pd;

youtube_videos['perc_liked'] = (youtube_videos['thumbs_up']/(youtube_videos['thumbs_up'] + youtube_videos['thumbs_down']))*100

result = youtube_videos[youtube_videos['perc_liked'] < 55].sort_values(by='video_id')[['video_id']]

```

```sql
SELECT video_id
FROM
  (SELECT video_id, (thumbs_up/(thumbs_up + thumbs_down))*100 AS perc_liked
  FROM youtube_videos
  ) SQ
WHERE perc_liked < 55
ORDER BY video_id ASC;
```

Write a query to identify the customer who had the largest number of orders.

Return the Customer_ID and number of orders, but if 2 customers had the same amount of orders, return them both.

```sql
SELECT customer_id, summed_orders
FROM 
  (SELECT customer_id, SUM(number_of_orders) 'summed_orders'
  FROM orders
  GROUP BY customer_id
  HAVING summed_orders >= 
      (SELECT SUM(number_of_orders) 
      FROM orders 
      GROUP BY customer_id ORDER BY number_of_orders DESC LIMIT 1)) SQ
```

```python
import pandas as pd;

new_orders = orders.groupby(["customer_id"]).sum().reset_index().sort_values(by='number_of_orders', ascending=False)
max_orders = new_orders.iloc[0]['number_of_orders']
result = orders[orders['number_of_orders'] == max_orders]
```

My Boss wants a report that shows each employee and their bosses name so he can try to memorize it before our quarterly social event.

Provide an output that includes the employee name matched with the name of their boss.

If they don't have a boss still include them in the output.

Order output on employee name alphabetically.

```python
import pandas as pd;

combined = boss.merge(boss, how='left', left_on="boss_id", right_on ="employee_id", suffixes=('_emp', '_mgr'))

result = combined[['employee_name_emp','employee_name_mgr']].sort_values(by='employee_name_emp')

result_def = result.rename(columns={'employee_name_emp': 'emp_name','employee_name_mgr': 'boss_name'})
```
```sql
SELECT bl.employee_name AS employee, br.employee_name AS bosss
FROM boss bl
LEFT OUTER JOIN boss br 
  ON  bl.boss_id = br.employee_id
ORDER BY employee;
```

A company is about to launch a new product and wants to estimate how many current customers will buy their new product.

To do this, they want to identify all of the past customers who have bought all of their products.

They currently only have 4 products.

Write a query to identify customer_IDs that have bought all of their current products.

Note: If a customer buys many of the same product that still only counts as buying one of their products.

```sql
SELECT customer_id
FROM purchases
GROUP BY customer_id
HAVING count(DISTINCT product_id) = 4;
```
```python
import pandas as pd;

grouped = purchases.groupby('customer_id')['product_id'].nunique().reset_index()

result = grouped[grouped['product_id'] == 4]['customer_id'].to_frame()
```

The addresses in this table are in a very strange format. We actually need them broken out into street address, city, state, and zip code, but currently it's pretty unusable.

Write a query to break out this column into street, city, state, and zip_code with those names exactly.
```sql
SELECT
TRIM(TRIM(TRAILING '-' FROM SUBSTRING_INDEX(address, ' ', 3))) 'street', 
TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(address, '-', 2), ' ', -1)) 'city',
TRIM(SUBSTRING_INDEX(SUBSTRING_INDEX(address, '-', -2), '-', 1)) 'state',
TRIM(SUBSTRING_INDEX(address, ' ', -1)) 'zip_code'
FROM addresses;
```
-1 takes the text after delimiter and whereas 1 wil take the text before the first delemiter

Write a query to report the first and last name of each person in the people table. Join to the contacts table and return the email for each person as well.

If they don't have an email we need to create one for them. Use their first and last name to create a gmail for them.

Example: Jenny Fisher's email would become jenny.fisher@gmail.com

Output should include first name, last name, and email. All emails should be populated.

Order the output on email address alphabetically.

Note this can be done in a few ways, but we can use a function called "COALESCE" which will check for NULL Values and if it is NULL it will populate it with whatever you put in there.

```sql
SELECT p.first_name, p.last_name,
LOWER(COALESCE(c.email, concat(first_name, '.', last_name, '@gmail.com'))) 'email'
FROM people p
JOIN contacts c
  USING(id)
ORDER BY email;
```

```python
# access datasets as pandas dataframes
import pandas as pd;

joined = people.merge(contacts, on= 'id',  how = 'inner')

joined_filter = joined[['first_name', 'last_name', 'email' ]]

joined_filter['email'] = joined_filter['email'].fillna(joined_filter['first_name'] + '.' + joined_filter['last_name'] + '@gmail.com').str.lower()

result = joined_filter.sort_values(by='email')
```

This company noticed a lot of their employees were quitting recently.

Determine what percentage of employees quit in 2022.

```sql
SELECT 
    (COUNT(CASE WHEN YEAR(date_left) = 2022 THEN 1 END) / COUNT(employee_id)) * 100 AS quit_percentage
FROM 
    employee_turnover;

```
```python
# access datasets as pandas dataframes
import pandas as pd;
employee_turnover['date_left'] = pd.to_datetime(employee_turnover['date_left'])
left_in_2022 = employee_turnover[(employee_turnover['date_left'].dt.year == 2022)]

total_emps = employee_turnover['employee_id'].nunique()
total_employees_left_2022 = left_in_2022['employee_id'].nunique()

quit_percentage = (total_employees_left_2022/total_emps) * 100

#result_df = pd.DataFrame({'year': [2022], 'quit_percentage': [quit_percentage]})
```


Determine the profit margin for each product.

The profit margin is derived by subtracting the Purchase Price from the Sale Price and then applying a 7% tax on that amount.

Present the product name along with its corresponding profit (round to 2 decimal places).

Order products by largest profit to smallest and products alphabetically.

```python
import pandas as pd;

products['profit margin'] = round((products['sales_price'] - products['purchase_price'])*0.93, 2)

products = products.sort_values(by=['profit margin', 'product_name'], ascending=[False, True])

result = products[['product_name','profit margin']]
                        
```

```sql
SELECT product_name, round(((sales_price-purchase_price)*0.93),2) 'profit margin'
FROM products
ORDER BY `profit margin` DESC, product_name ASC
```

Write a query to return the device IDs that play League of Legends and include in the first time that device played that game in your output.

Order by the oldest to newest time played.

# Methode 1 SQL
```sql
SELECT device_id, date_played
FROM
  (SELECT device_id, date_played, 
  ROW_NUMBER() OVER(PARTITION BY device_id ORDER BY date_played) AS row_num
  FROM devices
  WHERE game = 'League of Legends' 
  ORDER BY date_played ASC) 'SQ'
WHERE row_num = 1;
```

# Method 2
```sql
SELECT device_id, MIN(date_played) AS earliest_date
FROM devices
WHERE game = 'League of Legends'
GROUP BY device_id
ORDER BY earliest_date ASC;
```

```python
import pandas as pd;

filtered = devices.query(' game == "League of Legends" ')
filtered = filtered[['device_id','date_played']]

result = filtered.groupby('device_id').agg(date_played=('date_played', 'min')).reset_index()

result = result.sort_values(by='date_played', ascending=False)
```

```python
import pandas as pd

devices['date_played'] = pd.to_datetime(devices['date_played'])

league_of_legends = devices[devices['game'] == 'League of Legends']

result = league_of_legends.groupby('device_id')['date_played'].min().reset_index()

result
```

Compare each employee's salary with the average salary of their department. Include the department, first name, last name, salary, and average salary of department in your output

Average salary should be called "dept_avg" in your output.

Order by the department and salary from highest to lowest.


```python
# access datasets as pandas dataframes
import pandas as pd;

dept_avg = employee_salary.groupby(["department"])["salary"].mean().reset_index()

dept_avg = dept_avg.rename(columns={'salary': 'dept_avg'})

joined = employee_salary.merge(dept_avg, how="inner", on = "department")


result = joined.drop(columns=['employee_id']).sort_values(by=["department","salary"],  ascending=[True,False])
```

```sql
SELECT first_name, last_name, department, salary, 
AVG(salary) OVER(PARTITION BY department) AS dept_avg
FROM employee_salary
ORDER BY department ASC, salary DESC;
```

Banks have the ability to approve or deny transactions made depending on several factors.

The bank wants you to come in and create a report for them that gives them the following information:

Month, Country, Approved_Transactions, Approved_Amount, Chargebacks, Chargeback_Amount.

They want to look at historic trends for months, not years. They want all of one months data on one line. For example, all of January's data for the above columns should be output on one row.

A chargeback is the amount sent back to a bank account if a transaction is declined.

Return the output table order based off earliest month.

```Python
# access datasets as pandas dataframes
import pandas as pd;

transactions.head(20)

transactions["transaction_date"] = pd.to_datetime(transactions["transaction_date"])

transactions["Months"] = transactions["transaction_date"].dt.strftime('%m') #string format time

pivot_table = pd.pivot_table(transactions, index = ['Months', 'country'], columns = 'state', values = ['transaction_id', 'amount'], aggfunc={'transaction_id':'count', 'amount':'sum'}, fill_value = 0)

pivot_table = pivot_table.reset_index()

pivot_table.columns = ['Months', 'Country', 'Approved_Amount', 'Declined_Amount', 'Approved_Transactions', 'Declined_Transactions']

pivot_table = pivot_table[['Months', 'Country', 'Approved_Transactions', 'Approved_Amount', 'Declined_Transactions', 'Declined_Amount']]

pivot_table = pivot_table.rename(columns={'Declined_Transactions': 'Chargebacks', 'Declined_Amount': 'Chargeback_Amount'})

result = pivot_table.sort_values(by='Months')
```


```SQL
SELECT 
  DATE_FORMAT(transaction_date, '%m') AS Months,
  Country,
  SUM(CASE WHEN state = 'Approved' THEN 1 ELSE 0 END) AS Approved_Transactions,
  SUM(CASE WHEN state = 'Approved' THEN amount ELSE 0 END) AS Approved_Amount,
  SUM(CASE WHEN state = 'Declined' THEN 1 ELSE 0 END) AS Chargebacks,
  SUM(CASE WHEN state = 'Declined' THEN amount ELSE 0 END) AS Chargeback_Amount
FROM transactions
GROUP BY Months, Country
ORDER BY Months
```



Write a query to find the highest grade with its corresponding course for each student. In case of a tie, you should find the course with the smallest course_id.

Output the name, class_id, and grade for those classes.

Order on the name alphabetically.


## methode 1
```python
sorted_data = highest_grade.sort_values(by=['student_name', 'grade', 'class_id'], ascending=[True, False, True])

sorted_data.groupby('student_name').first().reset_index()

```

## methode 2


```python
# access datasets as pandas dataframes
import pandas as pd;

df = highest_grade.groupby('student_name')['grade'].max().reset_index()

merged = highest_grade.merge(df, on = ['student_name', 'grade'])

merged = merged.sort_values(by='class_id')

result = merged.drop_duplicates(subset=['student_name', 'grade'], keep ='first').sort_values(by='student_name')


```


# extra uitleg
Uitleg van subset=['student_name', 'grade']
subset=['student_name', 'grade']: Dit betekent dat de methode alleen kijkt naar de combinatie van waarden in de kolommen student_name en grade om te bepalen of een rij als duplicaat moet worden beschouwd.


```sql
SELECT student_name, class_id, grade
FROM
  (SELECT student_name, class_id, grade, 
    RANK() OVER(PARTITION BY student_name ORDER BY grade DESC, class_id) AS Ranked
  FROM highest_grade) Ranked_students
WHERE Ranked = 1
ORDER BY student_name
```


Return the name of the customer, the movie they watched, and the day they watched it.

Order by view date and movie name.


```sql
SELECT c.name, m.movie_name, d.view_date
FROM customers c
JOIN date_viewed d
  ON c.customer_id = d.customer_id
JOIN movienames m
  ON d.movie_id = m.movie_id
ORDER BY d.view_date, m.movie_name
```

Join these two tables together to return the first name, last name, and state for each person.

If there is no matching employee in the location table the state should be Null for that person.

Order the output alphabetically on their first names.

```sql
SELECT em.first_name, em.last_name, ep.state 
FROM employee_name em
JOIN employee_location ep
  ON em.person_id = ep.employee_id
ORDER BY em.first_name
```

Combine these two tables so the output has all the animals, regions, and average weights from both tables in a single output.

Remove any duplicates if there are any and order by animal name alphabetically.

```sql
SELECT  animal, region, average_weight
  FROM
  (SELECT *, 
      ROW_NUMBER() OVER(PARTITION BY  animal, region, average_weight) 'RN'
      FROM(
      SELECT * FROM animals_main 
      UNION
      SELECT * FROM animals_secondary) SQ) SQ2
WHERE RN = 1
ORDER BY animal
```

Addiction to Social Media is one the rise all around the world. The average time spent on Social Media continues to rise year after year.

We want to identify people who may be on the verge of an addiction.

Write a query to find the people who spent a higher than average amount of time on social media.

Order names alphabetically.
```sql
SELECT u.first_name
FROM user_time ut
JOIN users u
  ON u.user_id = ut.user_id
WHERE ut.media_time_minutes > (SELECT AVG(media_time_minutes) FROM user_time)
ORDER BY u.first_name
```

Recently there has been low morale at Bad Business Entertainment and people have been quitting.

In an act of desperation that want to find the lowest paid employee in each department of the company and give each of those employees a 15% raise.

Please provide the output of their ID, department, old salary, and new salary to hand off to Accounting.

Output should be ordered from highest new salary to lowest new salary.

```sql
SELECT employee_id, department, salary, new_salary
FROM
  (SELECT employee_id, department, salary, (salary*1.15) 'new_salary', 
    RANK() OVER(PARTITION BY department ORDER BY salary) 'Ranked'
  FROM employee_raise) Ranked_SQ
WHERE Ranked = 1
ORDER BY new_salary DESC
```

```sql
SELECT e.employee_id, e.department, e.salary AS old_salary, ROUND(e.salary * 1.15, 2) AS new_salary
FROM employee_raise e
JOIN (
    SELECT department, MIN(salary) AS lowest_salary
    FROM employee_raise
    GROUP BY department
) subquery ON e.department = subquery.department AND e.salary = subquery.lowest_salary
ORDER BY new_salary DESC;
```

Write a query to find the running total for each gender for each day.

A running total is where you take the previous days total and add it to the current days total.

Output should include the gender, date, points, and running totals.

Order by gender and day from smallest to largest.

```sql
SELECT gender, dates, points, 
  SUM(points) OVER(PARTITION BY gender ORDER BY dates) AS running_total
FROM points
ORDER BY gender, dates;
```

Rank the student's scores in the Grades table from highest to lowest. If two students have the same grade, give them the same ranking. The next rank should be the next number numerically.

Output should include name, grade, and rank. Order the output by rank and name alphabetically
```sql
SELECT student_name, grade, DENSE_RANK() OVER(ORDER BY grade DESC) 'rankings'
FROM grades
ORDER BY rankings, student_name
````

Recently there has been low morale at Bad Business Entertainment and people have been quitting.

In an act of desperation that want to find the lowest paid employee in each department of the company and give each of those employees a 15% raise.

Please provide the output of their ID, department, old salary, and new salary to hand off to Accounting.

Output should be ordered from highest new salary to lowest new salary.

Use a CTE to answer this question.

```sql
WITH CTE AS  
  (SELECT employee_id 'id',
           department, 
           salary 'old_sal',
           RANK() OVER(PARTITION BY department ORDER BY salary) 'Ranked'
FROM employee_raise)

SELECT id, department, old_sal, old_sal * 1.15 'new_sal'
FROM CTE
WHERE Ranked = 1
ORDER BY new_sal DESC
```

```sql
WITH SalaryCTE AS (
    SELECT department, MIN(salary) AS lowest_salary
    FROM employee_raise
    GROUP BY department
)

SELECT e.employee_id, e.department, e.salary AS old_salary, ROUND(e.salary * 1.15, 2) AS new_salary
FROM employee_raise e
JOIN SalaryCTE ON e.department = SalaryCTE.department AND e.salary = SalaryCTE.lowest_salary
ORDER BY new_salary DESC;
```

Suppose you have a table named "Hierarchy" that contains information about the hierarchy of employees in a company. Each row represents a relationship between a supervisor and a subordinate employee, where the "Supervisor_ID" column indicates the ID of the supervisor and the "Employee_ID" column indicates the ID of the subordinate.

The top-level supervisor(s) in the hierarchy won't have anything in the "Supervisor_ID" column. They should be level "1". While each subsequent level will be 1 higher.

Write a query that returns the employee_id and their level (numeric) for each employee. Order on employee_id from lowest to highest.

Column Order

```sql
WITH RECURSIVE CTE AS(
  SELECT employee_id, 1 AS hierarchy_level
  FROM employee_hierarchy
  WHERE supervisor_id IS NULL

UNION ALL

  SELECT eh.employee_id, CTE.hierarchy_level + 1 AS Level
  FROM employee_hierarchy eh
  JOIN CTE
    ON  eh.supervisor_id = CTE.employee_id 
  )

SELECT * 
FROM CTE
ORDER BY employee_id;
```

In a marketing promotion by Twix, they created two ficitional sides of the Twix candy bar. They asked fans of the candy bar to choose sides.

In a recent poll, consumers voted for either left Twix or right Twix.

Write a query to return the percentage of all consumers who chose right or left Twix.

You should have 2 columns in your output: "Right_Twix_Percentage" and "Left_Twix_Percentage" with the corresponding percentages.

Round to 2 decimal places.

```sql
SELECT ROUND(right_vote/(left_vote+right_vote)*100,2) "Right_Twix_Percentage",
  ROUND(left_vote/(left_vote+right_vote)*100,2) "Left_Twix_Percentage"
  
FROM candy_poll
```

```python
import pandas as pd;

candy_poll["Right_Twix_Percentage"] = round(candy_poll["right_vote"] / (candy_poll["left_vote"] + candy_poll["right_vote"])*100,2)
candy_poll["Left_Twix_Percentage"] = round(candy_poll["left_vote"] / (candy_poll["left_vote"] + candy_poll["right_vote"])*100,2)
result = candy_poll[["Right_Twix_Percentage","Left_Twix_Percentage" ]]
```

```python
candy_poll['Right_Twix_Percentage'] = (candy_poll['right_vote'] / (candy_poll['right_vote'] + candy_poll['left_vote'])) * 100
candy_poll['Left_Twix_Percentage'] = (candy_poll['left_vote'] / (candy_poll['right_vote'] + candy_poll['left_vote'])) * 100

# Round the percentages to 4 decimal places
candy_poll['Right_Twix_Percentage'] = candy_poll['Right_Twix_Percentage'].round(2)
candy_poll['Left_Twix_Percentage'] = candy_poll['Left_Twix_Percentage'].round(2)

# Display the result
candy_poll[['Right_Twix_Percentage', 'Left_Twix_Percentage']]
```

Write a query to rank Points scored by all time greats in basketball. The ranking should be calculated according to the following rules:

The scores should be ranked from the highest to the lowest.

If there is a tie between two scores, both should have the same ranking.

After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by score and name in descending order.

```sql
SELECT player, points,
  DENSE_RANK() OVER(ORDER BY points DESC) AS Ranking
FROM player_totals
ORDER BY points DESC, player DESC
```

```python
import pandas as pd;

player_totals = player_totals.sort_values(by='points', ascending=False)

player_totals['Ranking'] = player_totals['points'].rank(method='dense', ascending=False).astype(int)

result = player_totals.sort_values(by=['points', 'player'], ascending=[False,False])
```

Our IT Department wants to run some analytics to take a closer look at how well they're doing responding to help requests.

Write a query to find how many requests have been completed for each type of request.

Also provide the percentage of requests that are completed vs in-progress/ received to show the percent complete of requests for each type.

Provide the type, count of completed requests, count of incomplete requests, and the percentage of completed requests per type in the output.

Column Order


```python
import pandas as pd
import pandas as pd;

grouped_requests = help_requests.groupby('type').agg(
  Completed_Reguests = pd.NamedAgg(column='state', aggfunc =   lambda x: (x == 'Completed').sum()),
  InCompleted_Requests = pd.NamedAgg(column='state', aggfunc = lambda x: (x.isin(['In Progress', 'Received'])).sum())  
).reset_index()


grouped_requests['Perc_Completed_Requests'] = (grouped_requests['Completed_Reguests'] / 
                (grouped_requests['Completed_Reguests'] + grouped_requests['InCompleted_Requests'])) * 100

grouped_requests

"""
- `pd.NamedAgg` is een manier om de resultaten van de aggregaties in een `groupby().agg()` operatie een naam te geven. 
  Het zorgt ervoor dat je elke aggregatie kunt labelen met een specifieke kolomnaam in het resulterende DataFrame.

1. `pd.NamedAgg(column='state', aggfunc=...)`:
   - `pd.NamedAgg` wordt gebruikt om de resultaten van de aggregaties een naam te geven in het uiteindelijke DataFrame.

   - `column='state'`: Hiermee geef je aan welke kolom wordt gebruikt voor de aggregatie. In dit geval wordt de kolom 
     `state` gebruikt, die de status van elk verzoek bevat.

   - `aggfunc=...`: Hiermee specificeer je de aggregatiefunctie die je wilt toepassen. In dit voorbeeld worden 
     lambda-functies gebruikt om te berekenen hoeveel verzoeken zijn voltooid en hoeveel onvoltooid 
     (in progress of ontvangen) zijn.

2. Hoe `pd.NamedAgg` hier werkt:
   - `Completed_Requests=pd.NamedAgg(column='state', aggfunc=lambda x: (x == 'Completed').sum())`:
     - Dit telt het aantal verzoeken in de 'state' kolom dat de status 'Completed' heeft. Het resultaat wordt 
       opgeslagen in een nieuwe kolom genaamd `Completed_Requests` in het resulterende DataFrame.
       
   - `Incomplete_Requests=pd.NamedAgg(column='state', aggfunc=lambda x: (x.isin(['In Progress', 'Received'])).sum())`:
     - Dit telt het aantal verzoeken dat de status 'In Progress' of 'Received' heeft. Het resultaat wordt 
       opgeslagen in een kolom genaamd `Incomplete_Requests`.
"""

```


```sql
SELECT 
    type, 
    Completed_Requests, 
    InCompleted_Requests, 
    (Completed_Requests / (Completed_Requests + InCompleted_Requests) * 100) AS Perc_Completed
FROM
  (SELECT 
      type, 
      SUM(CASE WHEN state = 'Completed' THEN 1 ELSE 0 END) AS Completed_Requests, --else 0 is important to avoid NULL
      SUM(CASE WHEN state = 'In Progress' OR state = 'Received' THEN 1 ELSE 0 END) AS InCompleted_Requests
    FROM help_requests
    GROUP BY type) AS SQ;

```

Write a query that'll identify returning active users.

A returning active user is a user that has made a second purchase within 5 days of any other of their purchases.

Output a list of user_ids of these returning active users.

```sql
SELECT DISTINCT r1.customer_id
FROM customers r1
JOIN customers r2 ON r1.customer_id = r2.customer_id
WHERE r1.receipt_id <> r2.receipt_id
  AND ABS(DATEDIFF(r1.visit_date, r2.visit_date)) <= 5;
```


Uitleg van de Query
Zelf-Join:
Koppelt elke rij in r1 met een andere rij in r2 waar de customer_id hetzelfde is, maar de receipt_id verschillend.
Beperkt de resultaten tot rijen waar de visit_date binnen 5 dagen van elkaar liggen.
Resultaten Visualisatie voor customer_id 1001
Originele customers tabel:
receipt_id	customer_id	visit_date	purchase_total
1	1001	2022-12-01	195
2	1001	2022-12-09	268
3	1001	2022-12-15	130
5	1001	2022-12-20	190
Zelf-Join Resultaat
Na de zelf-join op customer_id 1001, waar r1.receipt_id <> r2.receipt_id, zouden de resultaten er als volgt uitzien:

r1.receipt_id	r1.visit_date	r2.receipt_id	r2.visit_date	Condition Satisfied?
1	2022-12-01	2	2022-12-09	Yes (within 5 days)
1	2022-12-01	3	2022-12-15	No
1	2022-12-01	5	2022-12-20	No
2	2022-12-09	1	2022-12-01	Yes (within 5 days)
2	2022-12-09	3	2022-12-15	Yes (within 5 days)
2	2022-12-09	5	2022-12-20	No
3	2022-12-15	1	2022-12-01	No
3	2022-12-15	2	2022-12-09	Yes (within 5 days)
3	2022-12-15	5	2022-12-20	Yes (within 5 days)
5	2022-12-20	1	2022-12-01	No
5	2022-12-20	2	2022-12-09	No
5	2022-12-20	3	2022-12-15	Yes (within 5 days)
Na toepassing van de DISTINCT-clausule en het filteren op de 5-dagen-voorwaarde, krijg je unieke customer_id's die voldoen aan de voorwaarden.
Conclusie
De zelf-join is een efficinte manier om rijen binnen dezelfde tabel te koppelen op basis van specifieke voorwaarden, zoals dezelfde customer_id, maar verschillende receipt_id's en een visit_date binnen 5 dagen. Het gebruik van DISTINCT zorgt ervoor dat je alleen unieke customer_id's in het eindresultaat hebt.


# method 1
```python
import pandas as pd

# access datasets as pandas dataframes
import pandas as pd;

self_joined_customers = customers.merge(
    customers, 
    on='customer_id', 
    suffixes=('_left', '_right')
)

self_joined_customers_filter = self_joined_customers.query("receipt_id_left != receipt_id_right")



self_joined_customers_filter['visit_date_left'] = pd.to_datetime(self_joined_customers_filter['visit_date_left'])
self_joined_customers_filter['visit_date_right'] = pd.to_datetime(self_joined_customers_filter['visit_date_right'])

self_joined_customers_filter2 = self_joined_customers_filter.query('(visit_date_right - visit_date_left).abs().dt.days <= 5')

self_joined_customers_filter2_result = self_joined_customers_filter2[['customer_id']]

self_joined_customers_filter2_result_unique = self_joined_customers_filter2_result.drop_duplicates(subset='customer_id')

```

# method 2

```python
# Zelf-join uitvoeren
self_joined_customers = customers.merge(
    customers, 
    on='customer_id', 
    suffixes=('_left', '_right')
)

# Zet visit_date kolommen om naar datetime
self_joined_customers['visit_date_left'] = pd.to_datetime(self_joined_customers['visit_date_left'])
self_joined_customers['visit_date_right'] = pd.to_datetime(self_joined_customers['visit_date_right'])

# Booleaanse filter op receipt_id en datumverschil
# We berekenen eerst het verschil tussen de datums (timedelta object)
# Vervolgens maken we het verschil absoluut met .abs(), zodat het verschil altijd positief is
# Daarna extraheren we het aantal dagen met .dt.days
condition = (
    (self_joined_customers['receipt_id_left'] != self_joined_customers['receipt_id_right']) &
    ((self_joined_customers['visit_date_right'] - self_joined_customers['visit_date_left']).abs().dt.days <= 5)
)

# Filter toepassen
self_joined_customers_filter2 = self_joined_customers[condition]

# Unieke klanten aan de linkerzijde selecteren
distinct_customers  = self_joined_customers_filter2.drop_duplicates(subset='customer_id')

result = distinct_customers[['customer_id']]

```

# method 3
```python
# access datasets as pandas dataframes
import pandas as pd

self_joined_customers = customers.merge(
    customers, 
    on='customer_id', 
    suffixes=('_left', '_right')
)

# Zet visit_date kolommen om naar datetime
self_joined_customers['visit_date_left'] = pd.to_datetime(self_joined_customers['visit_date_left'])
self_joined_customers['visit_date_right'] = pd.to_datetime(self_joined_customers['visit_date_right'])

# Custom functie gebruiken met apply() voor het filteren
# We berekenen het verschil tussen de datums binnen de lambda functie
# .abs() zorgt ervoor dat we een positieve waarde krijgen voor het verschil
# .days haalt het aantal dagen uit het timedelta object
self_joined_customers_filter2 = self_joined_customers[
    self_joined_customers.apply(
        lambda row: row['receipt_id_left'] != row['receipt_id_right'] and 
                    abs((row['visit_date_right'] - row['visit_date_left']).days) <= 5, axis=1
    )
]

# Unieke klanten aan de linkerzijde selecteren
distinct_customers_left = self_joined_customers_filter2.drop_duplicates(subset='customer_id')

result = distinct_customers_left[['customer_id']]


```

Write a query to return all of the phone numbers that have an area code of 701 (this means the phone numbers begins with 701)
```python
# access datasets as pandas dataframes
import pandas as pd;

result = phone_numbers[phone_numbers['numbers'].str.match('^701')]

````

Uncle Ralph's Pizza Shop opened up 5 new stores in 2020. After 3 years Uncle Ralph wanted to see how each of his stores was doing.

Write a query to determine the average revenue by store.

Order by revenue largest to smallest.


```python
import pandas as pd;

grouped = revenue.groupby('store_id')['revenue_millions'].mean().reset_index().sort_values(by='revenue_millions', ascending=False)

#reset index is nodig, om de revenue en de id als kolommen te hebben, anders zit de id in de index en is het een serie zonder kolomnamen 
```

In a fictious world, individuals get taxed depending on how much their company pays their employees. The higher the total salary their companies pay, the less they are taxed.

It's unfair, but that's life.

Write a query to find the salaries of the employees after applying taxes. Round the salary to the nearest integer.

The tax rate is calculated for each individual based on the following criteria:

10% tax if the Sum of all salaries of a company is over 200k.

25% tax if the Sum of all salaries of a company is between 100k -199k

40% tax if the Sum of all salaries of a company is 99k or below.

Include the company id, employee id, department, and the "taxed_salary".


# method 1
```python
import pandas as pd;

summed_salary_over_company = taxes.groupby(by = 'company_id')['salary'].sum().reset_index()

summed_salary_over_company.rename(columns = {'salary':'Summed_Salary'}, inplace = True)

taxes = taxes.merge(summed_salary_over_company, on = 'company_id')

def applyTaxes(row):
  if row['Summed_Salary'] > 200000:
    return round(row['salary'] * 0.9,0)
  elif row['Summed_Salary'] > 100000 and row['Summed_Salary'] < 199000:
    return round(row['salary'] * 0.75,0)
  elif row['Summed_Salary'] <= 99000:
    return round(row['salary'] * 0.6,0)
  else:
    return row['salary']

taxes['taxed_salary'] = taxes.apply(applyTaxes, axis = 1)

result = taxes[['company_id','employee_id','department','taxed_salary']]
```

# method 2
```python
taxes['total_salary'] = taxes.groupby('company_id')['salary'].transform('sum')

# Calculate taxed salary based on tax rates
def calculate_taxed_salary(row):
    if row['total_salary'] > 200000:
        return round(row['salary'] * 0.9)
    elif 100000 <= row['total_salary'] <= 199999:
        return round(row['salary'] * 0.75)
    else:
        return round(row['salary'] * 0.6)

taxes['taxed_salary'] = taxes.apply(calculate_taxed_salary, axis=1)

taxes[['company_id', 'employee_id', 'department', 'taxed_salary']]
```
```sql
SELECT company_id, employee_id, department,
  CASE 
    WHEN Summed_Salary > 200000 THEN ROUND(salary*0.9,0)
    WHEN Summed_Salary BETWEEN 100000 AND 199000 THEN ROUND(salary*0.75,0)
    ELSE ROUND(salary*0.6,0)
  END AS Taxed_Salary
FROM
  (SELECT *, SUM(salary) OVER(PARTITION BY company_id) AS 'Summed_Salary'
  FROM taxes)SQ
````

If a dog owner takes their dogs on fewer than 5 walks in a week label them as a "Bad Owner". Everyone else should be labeled "Good Owner".

The column should be called "owner_type".

Note: If the owner has more than one dog, they have to walk each dog at least 5 times to be a "Good Owner."

Provide the name and type of owner in the output. Order alphabetically.

Column Order

```python
import pandas as pd;

walks_summed = walks.groupby(['dog_name'])['times_walked'].sum().reset_index()

walks_summed.rename(columns = {'times_walked':'times_walk_summed'}, inplace=True)

walks = walks.merge(walks_summed, on='dog_name', how ='inner')

walks = walks.groupby(['owner_name'])['times_walk_summed'].min().reset_index()

walks['owner_type'] = walks.apply(lambda x: 'Good Owner' if x['times_walk_summed'] >= 5 else 'Bad Owner', axis = 1)

result = walks [['owner_name', 'owner_type']].sort_values(by='owner_name')
```

```python
times_walked = walks.groupby(['owner_name', 'dog_name'])['times_walked'].sum().reset_index()

owner_type = times_walked.groupby('owner_name')['times_walked'].min().apply(lambda x: 'Bad Owner' if x < 5 else 'Good Owner')

walks['owner_type'] = walks['owner_name'].map(owner_type) # wat map hier doet is order_type wat een serie objects is en zoekt in naar de waarde van owner type en vergelijkt deze mnet de index van onwer-type, als de naam overkomt krijg owner type de waarde van het serie object. 

duplicated_types = walks[['owner_name','owner_type']].sort_values('owner_name')

duplicated_types[['owner_name','owner_type']].drop_duplicates()
```

```sql
SELECT owner_name,
  CASE WHEN times_walked_summed_min >= 5 THEN 'Good Owner' ELSE 'Bad Owner' END AS 'Owner_Type'
FROM
    (SELECT owner_name, MIN(times_walked_summed)'times_walked_summed_min'
    FROM
        (select *, sum(times_walked) OVER(PARTITION BY dog_name) 'times_walked_summed'
        FROM walks) SQ
    GROUP BY owner_name) SQ_2
ORDER BY owner_name
```

```sql
WITH times_walked AS (
    SELECT owner_name, dog_name, SUM(times_walked) AS total_walks
    FROM walks
    GROUP BY owner_name, dog_name
)
SELECT owner_name,
       CASE WHEN MIN(total_walks) >= 5 THEN 'Good Owner'
            ELSE 'Bad Owner'
       END AS owner_type
FROM times_walked
GROUP BY owner_name
ORDER BY owner_name;
```

The addresses in this table are in a very strange format. We actually need them broken out into street address, city, state, and zip code, but currently it's pretty unusable.

Write a query to break out this column into street, city, state, and zip_code with those names exactly.

```sql
SELECT 
  substring_index(address,'-',1) 'street',
  substring_index(substring_index(address,'-',2),'-', -1) 'city',
  substring_index(substring_index(address,'-',-2),'-',1) 'state',
  substring_index(address,'-',-1) 'zip_code'
FROM addresses
```

```python
# access datasets as pandas dataframes
import pandas as pd;

addresses[['street', 'city', 'state', 'zip_code']] = addresses['address'].str.split('-',expand=True)

result = addresses.drop(columns=['address'])
````

Maggie's Restaurant has been having a problem with people returning their food. They have a feeling one or many of their chefs are making mistakes.

They need to find out which chef is causing the returns so they train them better.

Write a query to find the chef(s) that is causing the most returned food. Include the chef name and the amount of returned orders in the output.

Only include the chef with the most returns in your output.

Note: If there is a tie for most returns output them both in alphabetical order
```python
# access datasets as pandas dataframes
import pandas as pd;

returned_food = orders.query('order_returned == "Y"')

result = returned_food.groupby('chef_name')['order_returned'].count().reset_index()

max_returns = result['order_returned'].max()

top_chefs = result[result['order_returned'] == max_returns]

top_chefs = top_chefs.sort_values(by='chef_name').reset_index(drop=True)
```

# method 1 (Ranked column my not pass depending on your conf in SQL)
```sql
SELECT chef_name, order_returned
FROM  
  (SELECT chef_name, order_returned, 
      DENSE_RANK() OVER(ORDER BY order_returned DESC) "Rank"
    FROM
      (SELECT chef_name, COUNT(order_returned) "order_returned"
      FROM orders
      WHERE order_returned = 'Y'
      GROUP BY chef_name) AS SQ) AS SQ2
WHERE Rank = 1
ORDER BY chef_name;
```

# method 2 
```sql
SELECT chef_name, COUNT(order_returned) AS order_returned
FROM orders
WHERE order_returned = 'Y'
GROUP BY chef_name
HAVING COUNT(order_returned) = (
    SELECT MAX(order_counts)
    FROM (
        SELECT COUNT(order_returned) AS order_counts
        FROM orders
        WHERE order_returned = 'Y'
        GROUP BY chef_name
    ) AS subquery
)
ORDER BY chef_name;


```

Write a query to determine how many guests checked out later than the mandatory 10am check out time.

Your output should be the number of guests who checked out after 10am.


```sql
SELECT COUNT(*) AS Late_Check_Out_Quests
FROM hotel_guests
WHERE TIME(check_out) > '10:00:00';
```

```python
import pandas as pd;

hotel_guests['check_out'] = pd.to_datetime(hotel_guests['check_out'])

check_out_time = pd.to_datetime('10:00:00').time()


result = hotel_guests[hotel_guests['check_out'].dt.time > check_out_time ]

late_customers = result.agg(late_customer = ('customer_id','count'))
```

Each artist was given a rating by 3 separate judges.

Write a query to combine those scores and rank the artists from highest to lowest. If there is a tie the next ranking after it should be the next number sequentially, meaning there will be a gap in the next rank.

Output should include the artist, their total score, and rank.

Order your output from smallest to largest rank. If there is a tie order on the artist id as well from smallest to largest.

```python
import pandas as pd;

grouped_scores = rankings.groupby('artist_id').agg(total_score = ('score','sum')).reset_index()

grouped_scores['rank'] = grouped_scores['total_score'].rank(ascending=False).astype(int)

result = grouped_scores.sort_values(by='rank')
```

```sql
SELECT Artist_id, SUM(Score) AS Total_Score,
       RANK() OVER (ORDER BY SUM(Score) DESC) AS Ranking
FROM rankings
GROUP BY Artist_id
ORDER BY Ranking, Artist_id ASC;
```

Write a query to find the users that joined in 2022 and also made a purchase in 2022.

Return the IDs smallest to largest

```python
import pandas as pd;

orders['order_date'] = pd.to_datetime(orders['order_date'])
users['join_date'] = pd.to_datetime(users['join_date'])

year_check = pd.to_datetime('2022').year

merged = orders.merge(users, left_on='buyer_id', right_on='user_id', how='inner')

result = merged.query('order_date.dt.year == @year_check & join_date.dt.year == @year_check')

id = result[['buyer_id']]
```

Combine these two tables so the output has all the animals, regions, and average weights from both tables in a single output.

Remove any duplicates if there are any and order by animal name alphabetically.

```python
result = pd.concat([animals_secondary,animals_main],ignore_index=True).drop_duplicates().sort_values(by='animal')
```

A property investment company has bought several properties over the past 10 years. They want to know about how much profit they will make on each if they were to liquidate all of their assets.

They also want a running total of their profits starting with the cheapest property they purchased

Write a query which gives the property ID, profit/loss from each property, and running total of profit/loss.

Order the output on the cheapest to most expensive property they purchased.

```sql
SELECT property_id, (estimated_sale_price - purchase_price) 'profit_loss', 
  SUM(estimated_sale_price - purchase_price) OVER(ORDER BY purchase_price) AS running_total
FROM investment_property
```


```python
# access datasets as pandas dataframes
import pandas as pd;

investment_property['profit_loss'] = investment_property['estimated_sale_price'] - investment_property['purchase_price']

investment_property = investment_property.sort_values(by='purchase_price')

investment_property['running_total'] = investment_property['profit_loss'].cumsum()

result = investment_property[['property_id','profit_loss','running_total']]
```

In [ ]:
Janine is a mess and has been putting Product Sales they have made incorrectly into the system.

Write a query to standardize the names of the products so they are spelled and formatted correctly.

Note: To be formatted correctly they should all be in Proper Case. First letter upper case with all lower case letters after with no punctuation.

Include all columns in output.

```python
janines_mistakes['product_name'] = janines_mistakes['product_name'].str.replace(r'[^\w\s]', '', regex=True) 
#\w stands for [a-zA-Z0-9_]. \s for white space, the ^reverses everything

janines_mistakes['product_name'] = janines_mistakes['product_name'].str.capitalize()

janines_mistakes

```

# access datasets as pandas dataframes

```python
import pandas as pd;

users['activity_date'] = pd.to_datetime(users['activity_date'] )

users_grouped = users.groupby(by='user_id')['activity_date'].max().reset_index()

breakp = pd.to_datetime('2022-1-1')

result = users_grouped[users_grouped['activity_date'] < breakp]

result = result[['user_id']].sort_values(by='user_id')
```

```sql
SELECT user_id 
FROM
  (SELECT user_id, max(date(activity_date)) AS activity_date
  FROM users
  GROUP BY user_id
  HAVING activity_date < date("2022-01-01")
  ORDER BY user_id) SQ
```

You're given a table that contain information about a company's sales transactions.

Write a query that finds the top 3 customers in terms of total sales amount during the month of January 2021. The output should show the customer ID, their total sales amount, and their rank (with highest amount purchased bring rank 1). In case of ties, the customers with the same sales amount should have the same rank, and the next rank should be skipped.

Order by rank and customer id.
```python
# access datasets as pandas dataframes
import pandas as pd;

customer_transactions['sale_date'] = pd.to_datetime(customer_transactions['sale_date'])

customer_transactions_filtered = customer_transactions[(customer_transactions['sale_date'].dt.year == 2021) & (customer_transactions['sale_date'].dt.month == 1) ]

customer_transactions_filtered_grouped = customer_transactions_filtered.groupby('customer_id')['sale_amount'].sum().reset_index()

customer_transactions_filtered_grouped['rank'] = customer_transactions_filtered_grouped['sale_amount'].rank(ascending=False, method='min')

result = customer_transactions_filtered_grouped[customer_transactions_filtered_grouped['rank'] <= 3].sort_values(by='rank')
```

```sql
SELECT  customer_id, sale_amount, ranks
  FROM  
    (SELECT 
      customer_id, 
      SUM(sale_amount) AS sale_amount,
      RANK() OVER (ORDER BY SUM(sale_amount) DESC) AS ranks
    FROM
    customer_transactions
    GROUP BY customer_id
  ) AS SQ
WHERE ranks <= 3
ORDER BY ranks, customer_id
```

You have been given access to a database that contains information about employees and their departments.

Write a query to find the second-highest paid employee in each department. Output should include their department name, name and salary. If there is only one employee in a department, that employee should not be returned in the result.

```sql
SELECT department_name, employee_name, salary
FROM
  (SELECT department_name, employee_name, salary, 
    RANK() OVER(PARTITION BY department_name ORDER BY salary DESC) AS Ranked_Salary
  FROM 
  employees emp 
  JOIN departments
  USING (department_id)
  ) AS SQ
WHERE Ranked_Salary = 2
```

```python
# access datasets as pandas dataframes
import pandas as pd;

joined = employees.merge(departments, on='department_id')

joined = joined.drop(columns= 'department_id')

joined['ranked_salary'] = joined.groupby('department_name')['salary'].rank(ascending=False, method='dense')

result = joined[joined['ranked_salary'] == 2][['department_name','employee_name','salary']]
````

You are given a list of user email addresses, and you need to extract the domain name from each email address.

The domain in alex@gmail.com would be "gmail".

Write a query to extract the domain name from each email address and count the number of occurrences of each domain name in the list.

The results should be sorted by the count of occurrences. Also sort by domains in descending order.

# long way

```python
# access datasets as pandas dataframes
import pandas as pd;

emails['domain_long'] = emails['email_address'].str.split(pat='@',expand=False).str[1]

emails['domain_short'] = emails['domain_long'].str.split(pat='.',expand=False).str[0]

emails

emails = emails[['email_address','domain_short']].rename(columns={'domain_short':'domain_name'})

domain_counts = emails.groupby('domain_name').size().reset_index(name='counts')

domain_counts = domain_counts.sort_values(by=['counts','domain_name'], ascending=[False,False])
```


Facebook tracks every action a user makes (like, post, comment, etc.) on their platform.

Write a query to determine the Rank of each action performed on Christmas Day (12/25)

The output should include the action performed, number of actions, and their rank. If two actions were performed equally, they should have the same rank. The next rank should skip to the correct number in the sequence, not numerically.

Order on the rank from smallest to largest and actions alphabetically.


```sql
SELECT Actions, count_actions, RANK() OVER(ORDER BY count_actions DESC) 'Ranks'
  FROM
  (
    SELECT Actions, COUNT(*) AS count_actions
    FROM facebook
    WHERE dates = DATE('2023-12-25')
    GROUP BY Actions
  ) AS SQ
  ```

  ```python
  import pandas as pd;

Christmasday = pd.to_datetime("2023-12-25").date()
facebook['dates'] = pd.to_datetime(facebook['dates'])

Christmas = facebook.query('dates == @Christmasday')
Actions = Christmas.groupby('actions').size().reset_index(name='action_counts') #['actions'].count also good
Actions['Rank'] = Actions['action_counts'].rank(method = 'min', ascending=False)
result = Actions.sort_values(by='Rank')
```

Johnny Smith is back on the market and is targeting jobs that meet what he's looking for.

Here is what he wants:

Senior or Lead Level Position

Above 85k salary range (on the low end)

Is looking for position that uses SQL and Python

Write a query to determine which positions fit this criteria.

Output should include all columns. Order on Job_ID from smallest to largest


# method 1
```python
search_for = ['Senior','Lead']

job_listings = job_listings[job_listings['job_title'].str.contains('|'.join(search_for))]

search_for = ['SQL','Python']

job_listings = job_listings[job_listings['required_skills'].str.contains('|'.join(search_for))]

job_listings[['low_end_sal','high_end_sal']] = job_listings['job_salary'].str.split('-',expand=True)

job_listings['low_end_sal'] = job_listings['low_end_sal'].str.strip().replace('[\$,]','', regex=True).astype(float)

job_listings = job_listings.query('low_end_sal > 85000')

result = job_listings.loc[:, ~job_listings.columns.isin(['low_end_sal', 'high_end_sal'])].sort_values(by='job_id')

"""
job_listings.columns is een pandas.Index-object.
job_listings.columns.isin([...]) geeft een boolean array terug.
loc gebruikt deze boolean array om te bepalen welke kolommen worden geselecteerd.
contains method has regex true default, so the searchterm wil be Senior'|'Lead'
"""
```

# method 2 python
```python
job_listings['lower_salary'] = job_listings['job_salary'].str.split('-').str[0].str.replace('$', '').astype(int)

filtered_df = job_listings[
    (job_listings['job_title'].str.contains('Senior') | job_listings['job_title'].str.contains('Lead')) &
    (job_listings['lower_salary'] >= 85000) &
    (job_listings['required_skills'].str.contains('SQL')) &
    (job_listings['required_skills'].str.contains('Python'))
].sort_values(by='job_id')

filtered_df.drop('lower_salary', axis=1)
```

```sql
SELECT job_id, job_title, job_salary, required_skills
FROM
  (SELECT job_id, job_title, job_salary, required_skills, 
    CAST(TRIM(REPLACE(SUBSTRING_INDEX(job_salary, '-', 1), '$', '')) AS FLOAT) 'low_end_sal'
  FROM job_listings) SQ
WHERE job_title REGEXP 'Senior|Lead' AND low_end_sal > 85000 AND required_skills REGEXP 'SQL|Python'
ORDER BY job_id
```

```sql
SELECT *
FROM job_listings 
WHERE (job_title LIKE '%Senior%' OR job_title LIKE '%Lead%')
  AND required_skills LIKE '%SQL%'
  AND required_skills LIKE '%Python%'
  AND SUBSTRING_INDEX(SUBSTRING_INDEX(job_salary, ' ', 1), '$', -1) > 85000
ORDER BY job_id ASC
;
```

Write a query to analyze the frequency and duration of internet outages for each ISP. Calculate the average duration of resolved outages (in minutes) and count the number of ongoing outages.

The output should have the columns ISP_Name, Average_Outage_Duration, and Ongoing_Outages, and should be ordered by Average_Outage_Duration in descending order.

```sql
SELECT 
    isp_name, 
    AVG(TIMESTAMPDIFF(MINUTE, STR_TO_DATE(Start_Time, '%m/%d/%Y %H:%i'), STR_TO_DATE(End_Time, '%m/%d/%Y %H:%i'))) AS Average_Outage_Duration,
    SUM(CASE WHEN End_Time IS NULL THEN 1 ELSE 0 END) AS Ongoing_Outages
FROM isp_outages
GROUP BY isp_name
ORDER BY Average_Outage_Duration DESC;
```

```python
import pandas as pd;

isp_outages['start_time'] = pd.to_datetime(isp_outages['start_time'])
isp_outages['end_time'] = pd.to_datetime(isp_outages['end_time'])


isp_outages['Average_Outage_Duration'] = (isp_outages['end_time'] - isp_outages['start_time']).dt.total_seconds() / 60 # direct naar minutes kan niet in pandas
isp_outages['Ongoing_Outages'] = isp_outages['end_time'].apply(lambda x: 1 if pd.isna(x) else 0) # or isp_outages['Ongoing_Outages'] = isp_outages['end_time'].isna().astype(int)

result = isp_outages.groupby('isp_name').agg({'Average_Outage_Duration':'mean', 'Ongoing_Outages':'sum'}).reset_index().sort_values(by='Average_Outage_Duration', ascending=False)
```
```python
import pandas as pd

isp_outages['start_time'] = pd.to_datetime(isp_outages['start_time'], format='%m/%d/%Y %H:%M')
isp_outages['end_time'] = pd.to_datetime(isp_outages['end_time'], format='%m/%d/%Y %H:%M')

isp_outages['outage_duration'] = (isp_outages['end_time'] - isp_outages['start_time']).dt.total_seconds() / 60

outage_analysis = isp_outages.groupby('isp_name').agg(
    Average_Outage_Duration=('outage_duration', 'mean'),
    Ongoing_Outages=('end_time', lambda x: x.isna().sum())
).reset_index()

outage_analysis_ordered = outage_analysis.sort_values(by='Average_Outage_Duration', ascending=False)

outage_analysis_ordered
```

This data is terrible. Just awful. But luckily we have the honor of cleaning it up!

That's where you come in.

I need you to ensure all Product_ID values are valid integers greater than 0. If it isn't just make it NULL. I'd appreciate it.

Replace negative values in Quantity_Sold with 0. Those negatives should NOT be there... Woops.

Replace NULL values in Revenue with the average revenue of all transactions. For Aggregation purposes of course. We aren't trying to lie to our shareholders!

The output should include the Product_ID, Quantity_Sold, Revenu

```python
import pandas as pd;

dirty_data['product_id'] = dirty_data['product_id'].apply(lambda x: x if isinstance(x, int) and x > 0 else None)

dirty_data['quantity_sold'] = dirty_data['quantity_sold'].apply(lambda x: x if isinstance(x, int) and x > 0 else 0)

dirty_data['revenue'] = dirty_data['revenue'].apply(lambda x: dirty_data['revenue'].mean() if pd.isnull(x) else x)

result = dirty_data[['product_id','quantity_sold','revenue']] 
```
```SQL
WITH avg_revenue_cte AS (
  SELECT AVG(revenue) AS avg_revenue
  FROM
  dirty_data
)

SELECT 
    CASE WHEN CAST(product_id AS SIGNED) IS NOT NULL AND product_id > 0 THEN product_id ELSE NULL 
    END AS product_id,
    CASE WHEN CAST(quantity_sold AS SIGNED) IS NOT NULL AND quantity_sold > 0 THEN quantity_sold ELSE 0
    END AS quantity_sold,
    CASE WHEN revenue IS NULL THEN (SELECT avg_revenue FROM avg_revenue_cte) ELSE revenue
    END AS revenue
  
FROM dirty_data
```

```sql
SELECT CASE 
        WHEN Product_ID > 0 THEN Product_ID 
        ELSE NULL 
    END AS Product_ID,
    GREATEST(Quantity_Sold, 0) AS Quantity_Sold,
    COALESCE(Revenue, (SELECT AVG(Revenue) FROM dirty_data WHERE Revenue IS NOT NULL)) AS Revenue
FROM dirty_data;
```

Sarah wants to take a look at the average sales for her small business. The issue is that she forgot to document some of her sale amounts. She knows she sold something there, but can't remember for how much.

So she wants to look at a few different options when getting the average.

Calculate the following:

The average sale amount without accounting for the NULLS

The average sale amount with accounting for the NULLS (NULLS will be populated as 0s)

The average sale amount with accounting for the NULLS (NULLS will be populated with the Minimum sale amount of all non-null values.)

The output should have three columns Average_Excluding_Nulls, Average_Including_Nulls, and Average_Including_Min.

```sql
SELECT 
  -- AVG already excluse NULLS
  AVG(sale_amount) AS Average_Excluding_Nulls,
  -- USE COALESE to replace NULLS with 0
  AVG(COALESCE(sale_amount, 0)) AS Average_Including_Nulls,
  -- USE A SubQ within COALSE to select the smallest sale_amount that wil replace the NULSS
  AVG(COALESCE(sale_amount, (SELECT MIN(sale_amount) FROM missing_values WHERE sale_amount IS NOT NULL))) AS Average_Including_Min
FROM missing_values
```

# Optimaliseren van Gemiddelde Berekeningen in pandas
## 1. Meest efficinte methode: Gebruik van vectorized operations zoals `fillna()`

```python
import pandas as pd

# Bereken het gemiddelde zonder rekening te houden met NULL-waarden (NaN wordt automatisch genegeerd)
average_excluding_nulls = missing_values['sale_amount'].mean()

# Vul de NULL-waarden met 0 en bereken het gemiddelde
average_including_nulls = missing_values['sale_amount'].fillna(0).mean()

# Vind het minimum voor niet-NULL waarden, en gebruik dit om NULL-waarden te vervangen
lowest_sale_amount = missing_values['sale_amount'].min()
average_including_min = missing_values['sale_amount'].fillna(lowest_sale_amount).mean()

# Maak direct een DataFrame met de berekende waarden
result = pd.DataFrame({
    'Average_Excluding_Nulls': [average_excluding_nulls],
    'Average_Including_Nulls': [average_including_nulls],
    'Average_Including_Min': [average_including_min]
})


"""
Uitleg:
- `fillna()`: Dit is een vectorized methode die veel efficinter is dan `apply()`. Het vervangt in n keer alle NaN-waarden in de kolom.
- We berekenen eerst elk gemiddelde en slaan de resultaten direct op in een DataFrame.
- Deze aanpak is sneller omdat `fillna()` in C is gemplementeerd, waardoor het beter presteert dan Python-lussen zoals `apply()`.
"""
```


```python
import pandas as pd

# Bereken het gemiddelde zonder rekening te houden met NULL-waarden
average_excluding_nulls = missing_values['sale_amount'].mean()

# Vul NULL-waarden met 0 via een lambda-functie
missing_values['sale_amount_replace_0'] = missing_values['sale_amount'].apply(lambda x: 0 if pd.isnull(x) else x)
average_including_nulls = missing_values['sale_amount_replace_0'].mean()

# Vind het minimum en vul de NULL-waarden met dit minimum via een lambda-functie
lowest_sale_amount = missing_values['sale_amount'].min()
missing_values['sale_amount_replace_min'] = missing_values['sale_amount'].apply(lambda x: lowest_sale_amount if pd.isnull(x) else x)
average_including_min = missing_values['sale_amount_replace_min'].mean()

# Resultaten in een DataFrame opslaan
result = pd.DataFrame({
    'Average_Excluding_Nulls': [average_excluding_nulls],
    'Average_Including_Nulls': [average_including_nulls],
    'Average_Including_Min': [average_including_min]
})

"""
Uitleg:
- Deze methode gebruikt `apply()` en een `lambda`-functie om NaN-waarden te vervangen door 0 of het minimum.
- Hoewel functioneel, is `apply()` minder efficint omdat het een row-wise operatie uitvoert, wat in feite neerkomt op een Python-lus.
- Dit verhoogt het geheugenverbruik en de verwerkingstijd, vooral bij grote datasets.
"""
```
```python
import pandas as pd

# Gemiddelde zonder rekening te houden met NULL-waarden
missing_values['Average_Excluding_Nulls'] = missing_values['sale_amount'].transform('mean')

# Vul de NULL-waarden met 0 en bereken het gemiddelde met transform()
missing_values['Average_Including_Nulls'] = missing_values['sale_amount'].fillna(0).transform('mean')

# Vind het minimum en gebruik dit met transform() om NaN te vervangen
lowest_sale_amount = missing_values['sale_amount'].min()
missing_values['Average_Including_Min'] = missing_values['sale_amount'].fillna(lowest_sale_amount).transform('mean')

# Filter de eerste rij omdat transform() alle rijen vult met dezelfde waarde
result = missing_values.loc[0, ['Average_Excluding_Nulls', 'Average_Including_Nulls', 'Average_Including_Min']]

"""
Uitleg:
- `transform()` past een functie toe op elke rij in de DataFrame, wat resulteert in extra geheugenverbruik omdat elke rij gevuld wordt met dezelfde waarde.
- Dit is inefficint omdat je eigenlijk maar n aggregatiewaarde nodig hebt, niet dezelfde waarde voor elke rij.
- Hoewel je het resultaat kunt filteren met `.loc[]`, blijft dit een overbodige stap die de prestaties benvloedt, vooral bij grote datasets.
"""
```

Write a query to calculate the running average of sales for each store. The running average should be calculated as the average of the current day and all previous days.

The output should have the columns Sale_Date, Store_ID, and Running_Average, and should be ordered by Store_ID and Sale_Date.

```python
sales_records['sale_date'] = pd.to_datetime(sales_records['sale_date'])

sales_records = sales_records.sort_values(by=['store_id','sale_date'])

sales_records['summed_sales'] = sales_records.groupby('store_id')['daily_sales'].cumsum()

sales_records['counted_days'] = sales_records.groupby('store_id')['daily_sales'].cumcount() + 1

sales_records['running_average'] = sales_records['summed_sales']/sales_records['counted_days']

result = sales_records[['sale_date','store_id','running_average']]
```

```python

sales_records['sale_date'] = pd.to_datetime(sales_records['sale_date'])

sales_records.sort_values(by=['store_id', 'sale_date'], inplace=True)

sales_records['running_average'] = sales_records.groupby('store_id')['daily_sales'].expanding().mean().reset_index(level=0, drop=True) #dropindex hier is nodig om store id als index te verwijderen, het resultaat na mean is een multileveld index met store id als eerte level en dan 0 tot de laatste rij van de huidige store id

sales_records = sales_records.sort_values(by=['store_id', 'sale_date'])

sales_records[['sale_date', 'store_id', 'running_average']]
```

```sql
SELECT sale_date, store_id, 
  AVG(daily_sales) OVER(PARTITION BY store_id ORDER BY sale_date) AS running_average
FROM
  sales_records
ORDER BY store_id, sale_date
```

Write a query to return the ID and Name, and the number of consecutive visits of the person who has gone to Waffle House the most days in a row.

# method 1
```sql
WITH joined AS(
SELECT n.id, n.name, d.visit_date
FROM names n
INNER JOIN dates d
  ON n.id = d.id
ORDER BY n.id, d.visit_date)


  
SELECT ID, Name, count(*) AS number_of_visits
    FROM(
      SELECT n.id AS ID, n.name AS Name, d.visit_date
      FROM names n
      INNER JOIN dates d
        ON n.id = d.id 
      LEFT OUTER JOIN joined j 
        ON n.id = j.id and  j.visit_date = DATE_ADD(d.visit_date, INTERVAL 1 DAY)
      ORDER BY n.id, d.visit_date) SQ
GROUP BY ID
ORDER BY number_of_visits DESC
LIMIT 1
```

# method 2
```sql
WITH consecutivevisits AS (
SELECT dates.id, visit_date, name,
  LAG(visit_date) OVER (PARTITION BY dates.id ORDER BY visit_date ASC) AS prev_date
FROM dates 
  JOIN names 
    ON dates.id = names.id
  )

  SELECT id, name, MAX(consecutive_count) as visit_max
FROM(  SELECT *,
  SUM( CASE WHEN (visit_date - prev_date) = 1
            THEN 1
            ELSE 0
        END) OVER (PARTITION BY id ORDER BY visit_date) + 1 as consecutive_count
FROM consecutivevisits
  ) AS consecutive_visits_final
GROUP BY id, name
ORDER BY visit_max DESC
LIMIT 1
  ;
```


```python

joined = names.merge(dates, on='id', how = 'inner')

joined['visit_date'] = pd.to_datetime(joined['visit_date'])

joined = joined.sort_values(by=['id','visit_date'])

joined['prev_visit_date'] = joined.groupby('id')['visit_date'].shift(1)

joined['diff_date'] = (joined['visit_date'] - joined['prev_visit_date']).dt.days

joined_filtered = joined.query('diff_date == 1')

joined_filtered = joined_filtered.loc[:, ~joined_filtered.columns.isin(['visit_date', 'prev_visit_date'])]

result = joined_filtered.groupby(['id','name'])['diff_date'].sum().add(1).reset_index().rename(columns={'diff_date': 'consecutive visits'}).sort_values(by='consecutive visits', ascending=False).head(1)

"""
# Kortere versie met apply
result = (joined.groupby(['id', 'name'])
          .apply(lambda x: (x['visit_date'] - x['visit_date'].shift(1)).dt.days.eq(1).sum() + 1)
          .reset_index(name='consecutive_visits')
          .sort_values(by='consecutive_visits', ascending=False)
          .head(1))

print(result)


"""
```

```python

import pandas as pd

dates['visit_date'] = pd.to_datetime(dates['visit_date'])

consecutivevisits = pd.merge(dates, names, on='id')

consecutivevisits = consecutivevisits.sort_values(by=['id', 'visit_date'])

consecutivevisits['prev_date'] = consecutivevisits.groupby('id')['visit_date'].shift(1)
consecutivevisits['is_consecutive'] = (consecutivevisits['visit_date'] - consecutivevisits['prev_date']).dt.days == 1
consecutivevisits['consecutive_count'] = consecutivevisits.groupby('id')['is_consecutive'].cumsum() + 1

max_consecutive = consecutivevisits.groupby(['id', 'name'])['consecutive_count'].max().reset_index()

result = max_consecutive[max_consecutive['consecutive_count'] == max_consecutive['consecutive_count'].max()]

result.columns = ['id', 'name', 'max_consecutive']

result
```

Suppose you have a table named "Hierarchy" that contains information about the hierarchy of employees in a company. Each row represents a relationship between a supervisor and a subordinate employee, where the "Supervisor_ID" column indicates the ID of the supervisor and the "Employee_ID" column indicates the ID of the subordinate.

The top-level supervisor(s) in the hierarchy won't have anything in the "Supervisor_ID" column. They should be level "1". While each subsequent level will be 1 higher.

Write a query that returns the employee_id and their level (numeric) for each employee. Order on employee_id from lowest to highest.


```sql
WITH RECURSIVE CTE AS(
  SELECT employee_id, 1 AS LEVEL
  FROM hierarchy
  WHERE supervisor_id IS NULL

  UNION ALL

  SELECT h.employee_id, CTE.level + 1 AS LEVEL
  FROM CTE 
  JOIN hierarchy h
    ON h.supervisor_id = CTE.employee_id 
)

SELECT * FROM CTE ORDER BY employee_id
```

```python
import pandas as pd;

hierarchy['level'] = None
hierarchy.loc[hierarchy['supervisor_id'].isna(), 'level'] = 1

while hierarchy['level'].isna().any():
    # Zoek werknemers die een supervisor hebben waarvan het level al bekend is
    mask = hierarchy['level'].isna() & hierarchy['supervisor_id'].isin(hierarchy.loc[hierarchy['level'].notna(), 'employee_id'])
    hierarchy.loc[mask, 'level'] = hierarchy.loc[mask, 'supervisor_id'].map(hierarchy.set_index('employee_id')['level']) + 1

result = hierarchy[['employee_id','level']].sort_values(by='employee_id')
```
### Uitleg over het gebruik van `map()` in pandas voor hirarchische gegevensverwerking

#### Belangrijkste concepten:

1. **Maskeren van de juiste rijen**:
   - Selecteer eerst de werknemers die nog geen hirarchieniveau (`level`) hebben.
   - Vervolgens controleer je of hun `supervisor_id` overeenkomt met de `employee_id` van een supervisor die al een niveau heeft (dus waarvan het `level` niet `NaN` is).

2. **Gebruik van `map()` voor gegevensverrijking**:
   - Nadat je de juiste werknemers hebt gefilterd, gebruik je de `supervisor_id` om het `level` van de supervisor op te halen.
   - Je zet de `employee_id` als index en beschouwt dit als een soort woordenboek waarin je het niveau van de supervisor kunt opzoeken.
   - De `map()`-functie koppelt de `supervisor_id` van de werknemer aan het `level` van hun supervisor, alsof je in een woordenboek zoekt op basis van de supervisor's `employee_id`.

3. **Hirarchieniveau toekennen**:
   - Het `level` van de werknemer wordt berekend door het niveau van de supervisor te nemen en daar 1 bij op te tellen.
   - Dit komt omdat elke werknemer altijd n niveau lager staat dan zijn of haar supervisor.

#### Handige inzichten:

- Het gebruik van de `map()`-functie in pandas biedt een slimme manier om hirarchische relaties dynamisch te verwerken zonder dat je complexe iteraties of SQL-achtige joins nodig hebt.
- Het is mogelijk om op een efficinte manier gegevens te transformeren door de index als een soort 'lookup table' te gebruiken.

You are given a database containing information about customers and their orders.

Write a query to find the largest monthly spender for each month.

Output should include: month, customer name, and total spending for that month.

The results should be sorted by month in ascending order.

```python
import pandas as pd;

orders['order_date'] = pd.to_datetime(orders['order_date'])   

orders['month'] = orders['order_date'].dt.month

orders_summed = orders.groupby(['month','customer_id'])['total_amount'].sum().reset_index()

customers_filtered = customers[['customer_id','customer_name']]

orders_summed_joined = orders_summed.merge(customers_filtered, on= 'customer_id', how='inner')

orders_summed_joined_max = orders_summed_joined.groupby('month')['total_amount'].max().reset_index()

result = orders_summed_joined_max.merge(orders_summed_joined, on =['total_amount','month'])

result = result[['month','customer_name','total_amount']]
```

```python

orders['order_date'] = pd.to_datetime(orders['order_date'])

monthly_spending = orders.groupby([orders['order_date'].dt.strftime('%m'), 'customer_id'])[['total_amount']].sum().reset_index()
monthly_spending.rename(columns={'order_date': 'months'}, inplace=True)

max_spending_per_month = monthly_spending.groupby('months')['total_amount'].transform(max)
largest_spenders = monthly_spending[monthly_spending['total_amount'] == max_spending_per_month]

result = largest_spenders.merge(customers, left_on='customer_id', right_on='customer_id')
result = result[['months', 'customer_name', 'total_amount']]
result.sort_values(by='months', inplace=True)
result.rename(columns={'months': 'months'}, inplace=True)

```

```sql
SELECT month, customer_name, total_spending
FROM
  (SELECT  customer_id, 
    MONTH(order_date) AS month, 
    SUM(total_amount) AS total_spending,
    ROW_NUMBER() OVER(PARTITION BY month ORDER BY total_spending DESC) AS spender_rank,
    c.customer_name
  FROM orders 
  JOIN
  customers c
    USING (customer_id)
  GROUP BY MONTH, customer_id) SQ
WHERE spender_rank = 1
ORDER BY month
```

```sql
WITH MonthlySpending AS (
    SELECT
        DATE_FORMAT(o.order_date, '%m') AS months,
        c.customer_name AS customer_name,
        SUM(o.total_amount) AS total_spending
    FROM
        customers c
    JOIN
        orders o ON c.customer_id = o.customer_id
    GROUP BY
        months,
        customer_name
)

SELECT
    ms.months,
    ms.customer_name,
    ms.total_spending
FROM
    MonthlySpending ms
JOIN
    (
        SELECT
            months,
            MAX(total_spending) AS max_spending
        FROM
            MonthlySpending
        GROUP BY
            months
    ) AS max_per_month
ON
    ms.months = max_per_month.months
    AND ms.total_spending = max_per_month.max_spending
ORDER BY
    ms.months;
```

You are given a database containing customer addresses.

Write a query to break out the address column into separate columns for street, city, state, and postal_code.

Note: Some addresses may have additional unit or suite information (e.g., "Suite 5A" or "Unit B"), which should not be included as part of the street.

```python
import pandas as pd

def extract_address_parts(address):
  if ' Suite ' in address:
    street = address.split(' Suite ')[0]
  elif ' Unit ' in address:
    street = address.split(' Unit ')[0]
  else:
    street = address.split('-')[0]

  city = address.split('-')[-2]
  state = address.split('-')[-1].split(' ')[0]
  postal_code = address.split()[-1]

  return pd.Series([street, city, state, postal_code], index=['street', 'city', 'state', 'postal_code'])

result = addresses['address'].apply(extract_address_parts)
```

```sql
SELECT substring_index(substring_index(address, ' ', 3), '-', 1) 'street',
  substring_index(substring_index(address,'-', 2),'-', -1) 'city',
  substring_index(substring_index(address,'-','-1'),' ', 1) 'state',
  substring_index(address, ' ', -1)'postal_code'
  
FROM addresses
```

Write a query to find the cancellation rate of requests with unbanned users (both client and driver must not be banned) each day between "2023-12-23" and "2023-12-25".

Round Cancellation Rate to two decimal points.

```sql
SELECT 
    request_at AS Date, 
    ROUND(
        (SUM(CASE WHEN status LIKE '%cancelled%' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 2
    ) AS Cancellation_Rate
FROM rides
WHERE request_at BETWEEN '2023-12-23' AND '2023-12-25'
AND client_id IN (SELECT user_id FROM users WHERE banned = 'No') 
AND driver_id IN (SELECT user_id FROM users WHERE banned = 'No')
GROUP BY request_at;
```



```python
import pandas as pd


rides['request_at'] = pd.to_datetime(rides['request_at'])

startdate = pd.to_datetime('2023-12-23')
enddate = pd.to_datetime('2023-12-25')

rides_filtered = rides[(rides['request_at'] >= startdate) & (rides['request_at'] <= enddate)]

nonbanned = users[users['banned'] == 'No']['user_id']

rides_filtered = rides_filtered[(rides_filtered['client_id'].isin(nonbanned)) & (rides_filtered['driver_id'].isin(nonbanned))]

result = rides_filtered.groupby('request_at')['status'].apply(lambda x: (x.str.contains('cancelled').sum() /len(x)*100).round(2)).reset_index()

```

A NASCAR team has collected data on their racer's laps for the entire 250 lap race.

The Team wants to look at the slowest 3 lap times and fastest 3 lap times.

They want the 3 distinct slowest and fastest times. For example: if the times were 45,45,45,46,47,48. The 3 fastest times would be 45,46,47. These should be given the label "Fastest" and a rank for each.

Output should include the label, time, and it's ranking.

For example, for those times the output would be:


```python
# access datasets as pandas dataframes
import pandas as pd;

nascar_times_fastest = nascar_times.sort_values(by='time_in_seconds')

nascar_times_fastest['Label'] = 'Fastest'

nascar_times_fastest_unique = nascar_times_fastest.drop_duplicates(subset='time_in_seconds', keep='first')

nascar_times_fastest_unique['Rank'] = nascar_times_fastest_unique['time_in_seconds'].rank()

fastest_laps = nascar_times_fastest_unique[['Label','time_in_seconds','Rank']].rename(columns={'time_in_seconds':'Time'})

fastest_laps = fastest_laps[fastest_laps['Rank'] <= 3]

nascar_times_slowest = nascar_times.sort_values(by='time_in_seconds', ascending=False)

nascar_times_slowest['Label'] = 'Slowest'

nascar_times_slowest_unique = nascar_times_slowest.drop_duplicates(subset='time_in_seconds', keep='first')

nascar_times_slowest_unique['Rank'] = nascar_times_slowest_unique['time_in_seconds'].rank(ascending=False)

slowest_laps = nascar_times_slowest_unique[['Label','time_in_seconds','Rank']].rename(columns={'time_in_seconds':'Time'})

slowest_laps = slowest_laps[slowest_laps['Rank'] <= 3]

result = pd.concat([slowest_laps, fastest_laps])

```

```python
import pandas as pd

slowest = nascar_times.copy()
slowest['Label'] = 'Fastest'
slowest['Rankings'] = slowest['time_in_seconds'].rank(method='dense', ascending=True)

fastest = nascar_times.copy()
fastest['Label'] = 'Slowest'
fastest['Rankings'] = fastest['time_in_seconds'].rank(method='dense', ascending=False)

combined = pd.concat([slowest, fastest])

filtered = combined[combined['Rankings'] <= 3]

sorted_data = filtered.sort_values(by=['Label', 'Rankings'], ascending=[False, True])
sorted_data = sorted_data[['Label','time_in_seconds','Rankings']].drop_duplicates(subset=['Label', 'Rankings'])
```

```sql
SELECT Label, Lap_time, `Rank`
  FROM
  (SELECT *, ROW_NUMBER() OVER(PARTITION BY Label, Lap_time, `Rank` ORDER BY `Rank`) `RN`
    FROM
      (SELECT 
          'Slowest' AS Label, 
          time_in_seconds AS Lap_time,
          DENSE_RANK() OVER(ORDER BY Lap_time DESC) `Rank`
      FROM nascar_times
          UNION ALL
      SELECT 
          'Fastest' AS Label, 
          time_in_seconds AS Lap_time,
          DENSE_RANK() OVER(ORDER BY Lap_time) `Rank`
      FROM nascar_times
      ) SQ
    WHERE `Rank` <= 3) SQ2
WHERE `RN` = 1
ORDER BY Label DESC, `Rank` ASC
```

Inflation sucks.... I mean... cough cough... Inflations has been impacting everyone around the world. Covid hit pretty hard, but let's look at some data before inflation buried us all completely (2020 and before).

We want to look at the average inflation rate change for each country per year and then rank them from highest to lowest.

Calculate the year-over-year inflation rate for each country using the Consumer Price Index (CPI). The inflation rate can be calculated as the percentage increase in CPI from one year to the next year.

Rank the countries based on their average inflation rate over the datasets time span, with 1 being the highest inflation rate.

# method 1
```sql
WITH YEARLYCPI AS (
SELECT country, `year`, consumer_price_index AS current_cpi,
  LAG(consumer_price_index) OVER 
    (PARTITION BY country ORDER BY `year` ASC)AS prev_cpi
FROM inflation)
  SELECT country,
  AVG((current_cpi - prev_cpi) / prev_cpi * 100) AS avg_inflation_rate,
  RANK() OVER 
    (ORDER BY AVG((current_cpi - prev_cpi) / prev_cpi * 100) DESC) as rankings
  FROM YEARLYCPI
  GROUP BY country
  ORDER BY rankings
  ;
```

```python
import pandas as pd;

inflation = inflation[['country','year','consumer_price_index']].rename(columns={'consumer_price_index':'cpi'})

inflation['prev_cpi'] = inflation.groupby('country')['cpi'].shift(1)

inflation = inflation[inflation['prev_cpi'].notna()]

inflation['rate'] = ((inflation['cpi'] - inflation['prev_cpi'])/inflation['prev_cpi'])*100

inflation = inflation.groupby('country')['rate'].mean().reset_index()

inflation['rank'] = inflation['rate'].rank(ascending=False)

result = inflation.sort_values(by='rank')
```

```python
import pandas as pd

inflation['prev_cpi'] = inflation.groupby('country')['consumer_price_index'].shift(1)
inflation['inflation_rate'] = (inflation['consumer_price_index'] - inflation['prev_cpi']) / inflation['prev_cpi'] * 100

df_filtered = inflation.dropna(subset=['prev_cpi'])
avg_inflation_rate = df_filtered.groupby('country')['inflation_rate'].mean().reset_index(name='avg_inflation_rate')

avg_inflation_rate['ranks'] = avg_inflation_rate['avg_inflation_rate'].rank(method='dense', ascending=False)

avg_inflation_rate_sorted = avg_inflation_rate.sort_values(by='avg_inflation_rate', ascending=False)
```

Here we have the names of several students first and last names.

We need all of the names to be in Proper Case. This is where the first character is capitalized and all the other letters are lower case.

Please include the first name and last name combined into one column in proper case. Proper case should be applied to both first and last name.

For example: "JOHN MATSON -> John Matson"

Order by the first and last name in alphabetical order.

```sql
SELECT 
  CONCAT(first_name, ' ', last_name) AS Proper_Name
FROM (
  SELECT 
    CONCAT(UPPER(LEFT(first_name, 1)), LOWER(SUBSTRING(first_name, 2, LENGTH(first_name) - 1))) AS first_name,
    CONCAT(UPPER(LEFT(last_name, 1)), LOWER(SUBSTRING(last_name, 2, LENGTH(last_name) - 1))) AS last_name
  FROM names)
```

Write a query to combine these 2 tables.

Output should include only the Medication Name and Recommended Dosage.

Do not remove duplicates if there are any.

Output should only be those 2 columns. Order output on medication alphabetically.
```python
import pandas as pd

med_list = med_list.rename(columns={'medication_name': 'medication', 'recommended_dosage': 'rec_dosage'})

combined_meds = pd.concat([
    med_list[['medication', 'rec_dosage']],
    medication_information[['medication', 'rec_dosage']]
])

combined_meds.sort_values(by='medication')
```

Microsoft replaces computers that are over 5 years old in order to maintain good working hardware for all employees.

Write a query to identify all of the computer IDs that need to be replaced. Let's say today's date is 1/1/2023.

Only include the computer ID in the output.

```python
# access datasets as pandas dataframes
import pandas as pd

computer_replacement['date_activated'] = pd.to_datetime(computer_replacement['date_activated'])

computer_replacement['date_difference'] = (pd.to_datetime('2023-01-01') - computer_replacement['date_activated']).dt.days

computer_replacement[computer_replacement['date_difference'] >= 1825][['computer_id']]
```

Create a gamer tag for each player in the tournament.

Select the first 3 characters of their first name and combine that with the year they were born.

Your output should have their first name, last name, and gamer tag called "gamer_tag"

Order output on gamertag in alphabetical order.
```python
# access datasets as pandas dataframes
import pandas as pd;

gamer_tags['birth_date'] = pd.to_datetime(gamer_tags['birth_date'])

gamer_tags['gamer_tag'] = gamer_tags['first_name'].str[:3] + gamer_tags['birth_date'].dt.year.astype(str)

# Sorteer het resultaat op gamer_tag
gamertags_sorted = gamer_tags[['first_name', 'last_name', 'gamer_tag']].sort_values(by='gamer_tag')
```