Tesla just provided their quarterly sales for their major vehicles.

Determine which Tesla Model has made the most profit.

Include all columns with the "profit" column at the end.

```python

import pandas as pd;

tesla_models.head()

tesla_models['profit'] = (tesla_models['car_price'] - tesla_models['production_cost']) * tesla_models['cars_sold']


tesla_models = tesla_models.sort_values(by=["profit"], ascending=False)

tesla_models.head(1)

```

Herschel's Manufacturing Plant has hit some hard times with the economy and unfortunately they need to let some people go.

They figure the younger employees need their jobs more as they are growing families so they decide to let go of their 3 oldest employees. They have more experience and will be able to land on their feet easier (and they had to pay them more).

Write a query to identify the ids of the three oldest employees.

Order output from oldest to youngest.
# SQL METHOD 1
```sql
WITH CTE AS (
    SELECT employee_id, birth_date,
           ROW_NUMBER() OVER (ORDER BY birth_date ASC) AS row_num
    FROM employees
)
SELECT employee_id
FROM CTE
WHERE row_num <= 3
ORDER BY birth_date ASC
```
# SQL METHOD 2
```sql
SELECT employee_id
FROM employees
ORDER BY birth_date ASC
LIMIT 3;
```

# SQL METHOD 3
```sql
SELECT employee_id
FROM employees
WHERE birth_date IN (
    SELECT birth_date
    FROM employees
    ORDER BY birth_date ASC
    LIMIT 3
)
ORDER BY birth_date ASC;
```

```python
import pandas as pd;

employees["birth_day"] = pd.to_datetime(employees["birth_date"])

sorted_employees = employees.sort_values(by='birth_day', ascending=True)

sorted_employees[["employee_id"]].head(3)
```

```SQL
SELECT tesla_model, car_price, cars_sold, production_cost,
  (car_price - production_cost) * cars_sold AS profit
FROM tesla_models
ORDER BY profit DESC
LIMIT 1;
```

I love chocolate and only want delicious baked goods that have chocolate in them!

Write a Query to return bakery items that contain the word "Chocolate".



```python
import pandas as pd;

bakery_items.head()

filter = bakery_items["product_name"].apply(lambda x: pd.Series(x).str.contains('Chocolate').any() )

Choc = bakery_items[filter]

Choc
```



```sql
SELECT *
FROM bakery_items
WHERE product_name like '%Chocolate%'
```

We need to identify which clients he needs to reach out to and provide that information to Dr. Obrien.

If a patient is over the age of 50, cholesterol level of 240 or over, and weight 200 or greater, then they are at high risk of having a heart attack.

Write a query to retrieve these patients. Include all columns in your output.

As Cholesterol level is the largest indicator, order the output by Cholesterol from Highest to Lowest so he can reach out to them first.

#method1

```python

import pandas as pd

patients.head()

patients_filtered = patients.loc[(patients["age"]> 50) & (patients["cholesterol"] >=240) & (patients["weight"] >=200)]

patients_filtered = patients_filtered.sort_values(by="cholesterol", ascending=False)

patients_filtered
```

#method2
```python
import pandas as pd

patients.head()

patients_queried = patients.query('cholesterol >=240 and weight >=200 and age > 50')

patients_queried = patients_queried.sort_values(by = "cholesterol", ascending=False)

patients_queried
```

```sql
SELECT * 
FROM patients
WHERE age > 50 AND weight >= 200 AND cholesterol >=240
ORDER BY cholesterol DESC
```

Yan is a sandwich enthusiast and is determined to try every combination of sandwich possible. He wants to start with every combination of bread and meats and then move on from there, but he wants to do it in a systematic way.

Below we have 2 tables, bread and meats

Output every possible combination of bread and meats to help Yan in his endeavors.

Order by the bread and then meat alphabetically. This is what Yan prefers.

```python

import pandas as pd;

bread_table.head()

cart_comb  = bread_table.merge(meat_table, how="cross")

comb = cart_comb[["bread_name", "meat_name"]].sort_values(by=["bread_name","meat_name"], ascending=True)

```

```sql
SELECT bread_table.bread_name, meat_table.meat_name

FROM bread_table

CROSS JOIN meat_table

ORDER BY bread_name ASC, meat_name ASC
```

Cars need to be inspected every year in order to pass inspection and be street legal. If a car has any critical issues it will fail inspection or if it has more than 3 minor issues it will also fail.

Write a query to identify all of the cars that passed inspection.

Output should include the owner name and vehicle name. Order by the owner name alphabetically.

```python
import pandas as pd;

inspections_filtered = inspections.query("critical_issues == 0 and minor_issues<=3")

inspections_filtered= inspections_filtered.sort_values(by="owner_name", ascending=True)

end_result = inspections_filtered[["owner_name", "vehicle"]]

```


```sql

SELECT owner_name, vehicle 

FROM inspections

WHERE minor_issues <= 3 AND critical_issues = 0

ORDER BY owner_name ASC
```

Write a query to determine the popularity of a post on LinkedIn

Popularity is defined by number of actions (likes, comments, shares, etc.) divided by the number impressions the post received * 100.

If the post receives a score higher than 1 it was very popular.

Return all the post IDs and their popularity where the score is 1 or greater.

Order popularity from highest to lowest.

```sql

SELECT post_id, ((actions/impressions)*100) AS popularity
FROM linkedin_posts
WHERE (actions / impressions) * 100 >= 1
ORDER BY popularity DESC

```

````python
linkedin_posts["popularity"] = (linkedin_posts["actions"]/linkedin_posts["impressions"])*100

linkedin_posts_filt = linkedin_posts.loc[linkedin_posts["popularity"] >= 1]

result = linkedin_posts_filt[["post_id", "popularity"]].sort_values(by="popularity", ascending=False)

```

Costco is known for their rotisserie chickens they sell, not just because they are delicious, but because they are a loss leader in this area.

This means they actually lose money in selling the chickens, but they are okay with this because they make up for that in other areas.

Using the sales table, calculate how much money they have lost on their rotisserie chickens this year. Round to the nearest whole number.

```python
total_loss = round(sales["lost_revenue_millions"].sum())
```

```sql
SELECT ROUND(sum(lost_revenue_millions))

FROM sales
```

If a customer is 55 or above they qualify for the senior citizen discount. Check which customers qualify.

Assume the current date 1/1/2023.

Return all of the Customer IDs who qualify for the senior citizen discount in ascending order.

```sql
SELECT customer_id AS discount_IDS
FROM customers
WHERE birth_date <= "1968-01-01"
ORDER BY customer_id ASC
```

```python
import pandas as pd;
customers["birth_date"] = pd.to_datetime(customers["birth_date"])

customers_filtered = customers.query("birth_date <= '1968-01-01'")

customers_filtered_sorted = customers_filtered.sort_values(by="customer_id", ascending=True)

result = customers_filtered_sorted[["customer_id"]]
```

\
If our company hits its yearly targets, every employee receives a salary increase depending on what level you are in the company.

Give each Employee who is a level 1 a 10% increase, level 2 a 15% increase, and level 3 there salary gets 3 times as much.

Include this new column in your output as "new_salary" along with your other columns.


```sql
SELECT employee_id, pay_level, salary,
CASE 
  WHEN pay_level = 1 THEN salary*1.1
  WHEN pay_level = 2 THEN salary*1.15
  WHEN pay_level = 3 THEN salary * 3
  ELSE salary
END AS new_salary
FROM employees
```

```python
import pandas as pd;

def increaseSal(row):
  if row["pay_level"] == 1:
    return row["salary"] * 1.1
  elif row["pay_level"] == 2:
    return row["salary"] * 1.15
  elif row["pay_level"] == 3:
    return row["salary"] * 3
  else:
    return row["salary"]

employees["new_salary"] = employees.apply(increaseSal, axis = 1) # important to need that When you use apply with axis=1, row is a pandas.Series where the index is the column names and the values are the respective data in that row. This allows the function increaseSal to access each column value using row["column_name"].

employees
```

Social Media Addiction can be a crippling disease affecting millions every year.

We need to identify people who may fall into that category.

Write a query to find the people who spent a higher than average amount of time on social media.

Provide just their first names alphabetically so we can reach out to them individually.

```python
import pandas as pd;


combined = user_time.merge(users, how='inner', on="user_id")

combined_filtered= combined.query("media_time_minutes>media_time_minutes.mean()")

result = combined_filtered[["first_name"]].sort_values(by="first_name", ascending=True)

```

```sql
SELECT first_name 
FROM users 
JOIN user_time 
ON  users.user_id = user_time.user_id 
WHERE user_time.media_time_minutes > 
  (SELECT AVG(user_time.media_time_minutes) FROM user_time)
ORDER BY users.first_name ASC
```

Sarah's Bike Shop sells a lot of bikes and wants to know what the average sale price is of her bikes.

She sometimes gives away a bike for free for a charity event and if she does she leaves the price of the bike as blank, but marks it sold.

Write a query to show her the average sale price of bikes for only bikes that were sold, and not donated.

Round answer to 2 decimal places.


```python
inventoryfilter = inventory[inventory['bike_price'].notna()]
inventoryfilter2 = inventoryfilter[inventoryfilter["bike_sold"] == "Y"]

mean_price = inventoryfilter2["bike_price"].mean().round(2)
mean_price_df = pd.DataFrame({"average_bike_price": [mean_price]})
mean_price_df
```

```sql
SELECT ROUND(AVG(bike_price), 2)
FROM inventory
WHERE bike_price IS NOT NULL AND bike_sold = "Y"
```

Write a query to determine how many direct reports each Manager has.

Note: Managers will have "Manager" in their title.

Report the Manager ID, Manager Title, and the number of direct reports in your output.

```sql
SELECT 
    m.employee_id AS manager_id,  -- Selecteer de employee_id van de manager en noem het manager_id
    m.position AS manager_position,  -- Selecteer de positie van de manager en noem het manager_position
    COUNT(*) AS direct_reports  -- Tellen het aantal directe ondergeschikten en noem het direct_reports
FROM 
    direct_reports e  -- De tabel direct_reports wordt aangeduid met alias e voor employees
JOIN 
    direct_reports m  -- Voeg dezelfde tabel opnieuw toe met alias m voor managers
ON 
    e.managers_id = m.employee_id  -- Maak de koppeling: employee's manager_id moet gelijk zijn aan manager's employee_id
WHERE 
    m.position LIKE '%Manager%'  -- Dit sluit CTO uit, belangrijk om m te gebruiken omdat dit de managers zijn gebaseerd op e.manager_id = m.employee_id
GROUP BY 
    m.employee_id,  -- Groepeer op manager_id
    m.position;  -- Groepeer op manager_position
```

```python
import pandas as pd;

combined = direct_reports.merge(direct_reports, left_on = 'managers_id', right_on = 'employee_id', suffixes=('_emp', '_mgr'))

combined_filtered = combined[combined["position_mgr"].str.contains("Manager")]

combined_filtered_2 = combined_filtered[["employee_id_mgr", "position_mgr"]]

result = combined_filtered_2.groupby(['employee_id_mgr', 'position_mgr']).size().reset_index(name='direct_reports')
"""
size counts the size of the groups and the result of size is a Series with emp id en postion mgr as index and de count as values. Wiht reset index the values of the count are put into direct reports column en the index become columns, the type becomes a df instead of serie
"""

#below a print of the grouped series after size(series with emp en pos as index)
employee_id_mgr  position_mgr             
1001             Analytics Manager          6
1007             Data Engineering Manager   4
1017             Data Science Manager       5
dtype: int64

#after reset index (df)
mployee_id_mgr	position_mgr	direct_reports
1001	Analytics Manager	        6
1007	Data Engineering Manager	4
1017	Data Science Manager	    5
```

In the United States, fast food is the cornerstone of it's very society. Without it, it would cease to exist.

But which region spends the most money on fast food?

Write a query to determine which region spends the most amount of money on fast food.

```python
import pandas as pd;

region_grouped = food_regions.groupby(["region"]).sum(numeric_only=True).sort_values(by="fast_food_millions", ascending=False)

region_sorted_df = region_grouped.reset_index()

result = region_sorted_df[["region"]].head(1)
```

```sql
SELECT region 
FROM
  (SELECT region, SUM(fast_food_millions)
  FROM food_regions
  GROUP BY region 
  ORDER BY SUM(fast_food_millions) DESC
  LIMIT 1) AS top_region
```

Kroger's is a very popular grocery chain in the US. They offer a membership card in exchange for a discount on select items. Customers can still shop at Krogers without the card.

Write a query to find the percentage of customers who shop at Kroger's who also have a Kroger's membership card. Round to 2 decimal 

```sql
SELECT ROUND((count(kroger_id)/(SELECT COUNT(*) FROM customers))*100, 2) AS "Perc_Members"
FROM customers
WHERE has_member_card = "Y"
```

```python
import pandas as pd;

customers_membercard = customers[customers["has_member_card"] == "Y"]

customers_perc = round((customers_membercard.shape[0]/customers.shape[0])*100,2)

customers_perc_df = pd.DataFrame({"Perc_Customers" : [customers_perc]}) #door  er een lijst van e maken maak je een index
```

Tech companies have been laying off employees after a large surge of hires in the past few years.

Write a query to determine the percentage of employees that were laid off from each company.

Output should include the company and the percentage (to 2 decimal places) of laid off employees.

Order by company name alphabetically.

```python
import pandas as pd;

import pandas as pd;

tech_layoffs["perc_laid_off"] = round(((tech_layoffs["employees_fired"]/tech_layoffs["company_size"])*100), 2)

tech_layoffs_sorted = tech_layoffs.sort_values(by="company")

result = tech_layoffs_sorted[["company","perc_laid_off"]]
```

```sql
SELECT company, round(((employees_fired/company_size)*100),2) AS "perc_laid_off"
FROM tech_layoffs
ORDER BY company ASC
```

Data was input incorrectly into the database. The ID was combined with the First Name.

Write a query to separate the ID and First Name into two separate columns.

Each ID is 5 characters long.

```sql

SELECT substring(id, 1,5) as "ID", substring(id, 6) as "First_name"
FROM bad_data

```

Often when you're working with customer information you'll want to sell that data to a third party. Sometimes it is illegal to give away sensitive information such as a full name.

Here you are given a table that contains a customer ID and their full name.

Return the customer ID with only the first name of each customer.

```sql
SELECT customer_id,  SUBSTRING_INDEX(full_name, ' ', 1) as "first_name"
FROM customers
```

```python
customers["first_name"] = customers["full_name"].str.split(" ").str[0]

result = customers[["customer_id", "first_name"]]
```

Write a query to identify products that have undergone shrink-flation over the last year. Shrink-flation is defined as a reduction in product size while maintaining or increasing the price.

Include a flag for Shrinkflation. This should be a boolean value (True or False) indicating whether the product has undergone shrink-flation

The output should have the columns Product_Name, Size_Change_Percentage, Price_Change_Percentage, and Shrinkflation_Flag.

Round percentages to the nearest whole number and order the output on the product names alphabetically.

```python
import pandas as pd;

products["Size_Change_Percentage"] = round(((products['new_size'] - products['original_size']) / products['original_size']) * 100, 0)
products["Price_Change_Percentage"] = round(((products['new_price'] - products['original_price']) / products['original_price']) * 100, 0)

products["Shrinkflation_Flag"] = products.apply(lambda x: "True" if (x['new_size'] < x['original_size']) & (x['new_price'] >= x['original_price']) else "False", axis=1)

products

result = products[["product_name", "Size_Change_Percentage", "Price_Change_Percentage","Shrinkflation_Flag"]].sort_values(by="product_name", ascending=True)

result.rename(columns={"product_name": "Product_Name"})

```

method 1
```sql
SELECT product_name, 
       ROUND(((new_size - original_size) / original_size) * 100, 0) AS "Size_Change_Percentage", 
       ROUND(((new_price - original_price) / original_price) * 100, 0) AS "Price_Change_Percentage", 
       CASE 
           WHEN ROUND(((new_size - original_size) / original_size) * 100, 0) < 0 
                AND ROUND(((new_price - original_price) / original_price) * 100, 0) >= 0 
           THEN "True"
           ELSE "False"
       END AS "Shrinkflation_Flag"
FROM products
HAVING Shrinkflation_Flag = "True" -- Having happens after the select is performed
ORDER BY product_name ASC;
```

method 2

```sql
SELECT product_name,
       Size_Change_Percentage,
       Price_Change_Percentage,
       Shrinkflation_Flag
FROM (
    SELECT product_name,
           ROUND(((new_size - original_size) / original_size) * 100, 0) AS Size_Change_Percentage,
           ROUND(((new_price - original_price) / original_price) * 100, 0) AS Price_Change_Percentage,
           CASE 
               WHEN ROUND(((new_size - original_size) / original_size) * 100, 0) < 0 
                    AND ROUND(((new_price - original_price) / original_price) * 100, 0) >= 0 
               THEN TRUE 
               ELSE FALSE 
           END AS Shrinkflation_Flag
    FROM products
) AS subquery
WHERE Shrinkflation_Flag = TRUE
ORDER BY product_name ASC;
--Subquery: Door berekeningen in een subquery te doen, kun je de resultaten van deze subquery behandelen als een normale tabel in de buitenste query, waardoor je de WHERE-clausule kunt gebruiken om te filteren op aliassen.
```

Write a query to find all dates with higher temperatures compared to the previous dates (yesterday).

Order dates in ascending order.

method 1

```sql
WITH CTE AS (
  SELECT `Date`, temperature,
  LAG(temperature) OVER(ORDER BY `DATE` ASC) as "Prev_temp"
  FROM temperatures
)

SELECT `Date`
FROM CTE
WHERE temperature > Prev_temp
ORDER BY `Date` ASC;
```
method 2
```sql
WITH CTE AS (
  SELECT `Date`, temperature, ROW_NUMBER() OVER (ORDER BY `Date` ASC) AS "Row_number"
  FROM temperatures
)

SELECT T1.`Date`
FROM  CTE T1
JOIN CTE T2 ON T1.Row_number = T2.Row_number + 1
WHERE T1.temperature
ORDER BY 'Date' ASCemperature > T2.t
```

```python
temperatures["prevTemperature"] = temperatures["temperature"].shift(1)

new_temps = temperatures.query("temperature > prevTemperature")

new_temps_date_ordered = new_temps[["date"]].sort_values(by="date")
```

Marcie's Bakery is having a contest at her store. Whichever dessert sells more each day will be on discount tomorrow. She needs to identify which dessert is selling more.

Write a query to report the difference between the number of Cakes and Pies sold each day.

Output should include the date sold, the difference between cakes and pies, and which one sold more (cake or pie). The difference should be a positive number.

Return the result table ordered by Date_Sold.

Columns in output should be date_sold, difference, and sold_more.

```python
grouped = desserts.groupby(['date_sold', 'product']).sum().reset_index()

pivoted = grouped.pivot(index='date_sold', columns='product', values='amount_sold').fillna(0)

pivoted["difference"] = abs(pivoted["Cake"] - pivoted["Pie"])

pivoted['sold_more'] = pivoted.apply(lambda row: 'Cake' if row['Cake'] > row['Pie'] else 'Pie', axis=1)

result = pivoted.reset_index()[['date_sold', 'difference', 'sold_more']].sort_values(by="date_sold")
```

```sql
SELECT 
    date_sold,
    ABS(SUM(CASE WHEN product = 'cake' THEN amount_sold ELSE 0 END) - SUM(CASE WHEN product = 'pie' THEN amount_sold ELSE 0 END)) AS difference,
    CASE 
        WHEN SUM(CASE WHEN product = 'cake' THEN amount_sold ELSE 0 END) > SUM(CASE WHEN product = 'pie' THEN amount_sold ELSE 0 END) THEN 'Cake'
        ELSE 'Pie'
    END AS sold_more
FROM 
    desserts
GROUP BY 
    date_sold
ORDER BY 
  date_sold
```

At Kelly's Ice Cream Shop, Kelly gives a 33% discount on each customer's 3rd purchase.

Write a query to select the 3rd transaction for each customer that received that discount. Output the customer id, transaction id, amount, and the amount after the discount as "discounted_amount".

Order output on customer ID in ascending order.

Note: Transaction IDs occur sequentially. The lowest transaction ID is the earliest ID.

```sql
WITH Rank_Purchases AS
  (
  SELECT customer_id, transaction_id, amount, 
  ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY transaction_id ASC) AS Transactional_Number
FROM purchases
  ) 

SELECT customer_id, transaction_id, amount,  
 CASE WHEN Transactional_Number = 3 THEN amount-(amount*0.33) ELSE 0 END AS discounted_amount
FROM Rank_Purchases
WHERE Transactional_Number = 3
ORDER BY customer_id ASC
```
#method 1

```python
purchases=purchases.sort_values(by="customer_id")

purchases=purchases.sort_values(by="transaction_id")

purchases["Transactional_Number"] = purchases.groupby("customer_id").cumcount() + 1

purchases["discounted_amount"] = purchases.apply(lambda row: row["amount"] - (row["amount"]*0.33) if row["Transactional_Number"] == 3 else 0, axis=1)

result = purchases[purchases["Transactional_Number"]==3].sort_values(by="customer_id", ascending=True)

result = result[["customer_id","transaction_id","amount","discounted_amount"]]
```
#method 2

```python

# Sorteren van dataframe eerst op customer_id en vervolgens op transaction_id
purchases = purchases.sort_values(by=['customer_id', 'transaction_id'])

# Toevoegen van een transactionele nummer kolom
purchases['Transactional_Number'] = purchases.groupby('customer_id').cumcount() + 1

# Filteren op Transactional_Number gelijk aan 3 en de korting toepassen
purchases['discounted_amount'] = purchases['amount'].where(purchases['Transactional_Number'] == 3, 0) * 0.67

# Selecteren van de gewenste kolommen en sorteren op customer_id
result = purchases[purchases['Transactional_Number'] == 3][['customer_id', 'transaction_id', 'amount', 'discounted_amount']]

import ace_tools as tools; tools.display_dataframe_to_user(name="Result", dataframe=result)
```